<!-- plugins:css -->

<link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../../static/adminResources/css/simple-line-icons.css">
<link rel="stylesheet" href="../../static/adminResources/css/flag-icon.min.css">
<link rel="stylesheet" href="../../static/adminResources/css/perfect-scrollbar.min.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="../../static/adminResources/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../../static/adminResources/css/fontawesome-stars.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="../../static/adminResources/css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>