<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the page title -->
    <title>LemanHouse - Real Estate HTML Template</title>
    <!-- include google roboto font cdn link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageMenuPushWrap -->
		<div class="pageMenuPushWrap pageMenuPushWrap1">
			<!-- bgBaseWrap -->
			<div class="bgBaseWrap">
				<!-- pageHeader -->
				{% include "user/header.html" %}
				<!-- main -->
				<main>
					<!-- propertyIntroBlock -->
					<section class="propertyIntroBlock style2">
						<!-- propertyIntroImageSlider -->
						<div class="slick-fade slickSlider introSlider propertyIntroImageSlider">
							<div>
								<span class="bgCover elemenBlock introSlide" style="background-image: url(../../static/userResources/images/img62.jpg);"></span>
							</div>
						</div>
						<!-- propertyIntroCaption -->
						<div class="container propertyIntroCaption textWhite">
							<div class="align">
								<div class="row alignEnd">
									<div class="col-xs-12 col col-sm-8">
										<!-- breadcrumb -->
										<ol class="breadcrumb breadcrumb1">
											<li><a href="#">Home</a></li>
											<li><a href="#">Pages</a></li>
											<li class="active">About</li>
										</ol>
										<h1 class="fontNeuron textWhite">About</h1>
									</div>
									<div class="col-xs-12 col-sm-4 justify-end">
										<!-- captionActionsList -->
										<ul class="list-unstyled captionActionsList w100">
											<li class="hasOver">
												<a href="#">
													<i class="fi flaticon-share"></i>
												</a>
												<!-- postColumnSocial -->
												<ul class="list-unstyled socialNetworks postColumnSocial">
													<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#"><i class="fab fa-instagram"></i></a></li>
													<li><a href="#"><i class="fab fa-google"></i></a></li>
												</ul>
											</li>
											<li><a href="#"><i class="fi flaticon-printer"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- servicesFetaureBlock -->
					<section class="aboutBlock bgWhite">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-5">
									<div class="slickSlider testimonial-carousel testimonialSlider">
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<img src="../../static/userResources/images/img61.jpg" alt="image description" class="img-responsive">
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<img src="../../static/userResources/images/img61.jpg" alt="image description" class="img-responsive">
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<img src="../../static/userResources/images/img61.jpg" alt="image description" class="img-responsive">
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<img src="../../static/userResources/images/img61.jpg" alt="image description" class="img-responsive">
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<img src="../../static/userResources/images/img61.jpg" alt="image description" class="img-responsive">
											</article>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 col-md-7">
									<h3 class="fontNeuron fwBold text-capitalize">We are LemanHouse Real Estate.</h3>
									<p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque velit tristique turpis, et iaculis mi tortor finibus turpis.</p>
									<p>Donec luctus lacinia sem potenti aptent est platea, orci tortor dui fringilla curae varius tempor, rhoncus commodo sapien auctor himenaeos laoreet maecenas tempor venenatis accumsan lacinia congue dolor laoreet, ut nostra nulla nunc aptent dolor quisque, lorem sociosqu nunc convallis curabitur faucibus.</p>
									<p>Ornare sagittis ante erat nec ultricies amet aenean netus sodales at, amet vehicula quis vel platea mattis vel felis hendrerit ad, at rhoncus tortor habitasse venenatis etiam senectus erat sit varius proin ligula lectus mi accumsan curabitur orci varius justo nec elit.</p>
								</div>
							</div>
						</div>
					</section>
					<!-- servicesFetaureBlock -->
					<section class="servicesFetaureBlock container">
						<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">SERVICE</span></h1>
						<!-- servicesFetauresList -->
						<ul class="servicesFetauresList list-unstyled text-center">
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-house"></i></span>
									<h2 class="fontNeuron text-capitalize">Saling Service</h2>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-rent"></i></span>
									<h2 class="fontNeuron text-capitalize">Renting Service</h2>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-list"></i></span>
									<h2 class="fontNeuron text-capitalize">Property Listing</h2>
								</a>
							</li>
{#							<li>#}
{#								<a href="#">#}
{#									<span class="icnHolder roundedCircle"><i class="fi flaticon-house-1"></i></span>#}
{#									<h2 class="fontNeuron text-capitalize">Property Management</h2>#}
{#								</a>#}
{#							</li>#}
						</ul>
					</section>
					<!-- ourAgentBlock -->
{#					<section class="bgWhite ourAgentBlock">#}
{#						<div class="container">#}
{#							<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">AGENT</span></h1>#}
{#							<div class="row">#}
{#								<!-- profilesSlider -->#}
{#								<div class="four-slider slickSlider profilesSlider">#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img14.jpg" alt="Veronica Green Sales Executive">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Veronica Green</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Sales Executive</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img15.jpg" alt="Guti Salvio Real Estate Broker">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Guti Salvio</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Real Estate Broker</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img16.jpg" alt="Elenia Jesse Selling Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Elenia Jesse</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Selling Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img17.jpg" alt="Emmy Ramos Buying Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Emmy Ramos</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Buying Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img14.jpg" alt="Veronica Green Sales Executive">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Veronica Green</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Sales Executive</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img15.jpg" alt="Guti Salvio Real Estate Broker">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Guti Salvio</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Real Estate Broker</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img16.jpg" alt="Elenia Jesse Selling Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Elenia Jesse</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Selling Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="images/img17.jpg" alt="Emmy Ramos Buying Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Emmy Ramos</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Buying Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</section>#}
					<!-- sponsorsBlock -->
					<section class="container sponsorsBlock">
						<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">PARTNERS</span></h1>
						<!-- LogosCarousel -->
						<div class="logos-slider slickSlider LogosCarousel">
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor01.png" alt="helsinki">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor02.png" alt="norway">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor03.png" alt="lars grondahl">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor04.png" alt="kirsten">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor05.png" alt="only oslo">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor02.png" alt="norway">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor03.png" alt="lars grondahl">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor04.png" alt="kirsten">
									</a>
								</div>
							</div>
						</div>
					</section>
					<!-- signupFormAside -->
					<form action="#" class="bgWhite signupFormAside">
						<div class="container signupFormAsideHolder">
							<span class="icnAbsolute elemenBlock fi flaticon-message"></span>
							<div class="col-xs-12 col-md-offset-2 col-md-6">
								<h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
								<p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="form-group">
									<input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
									<button type="button" class="buttonReset fi flaticon-navigation"></button>
								</div>
							</div>
						</div>
					</form>
				</main>
			</div>
			<!-- pageFooterBlock -->
			{% include "user/footer.html" %}
		</div>
		<!-- pagePopupWrap -->
		<div class="popup-holder">
			<div id="popup1" class="lightbox-demo">
				<!-- popupLoginFrom -->
				<form action="#" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
					<ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
						<li class="active"><a href="#tab01">LOGIN</a></li>
						<li><a href="#tab02">REGISTER</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab01" class="tab-active">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Namer">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset">
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">Remember me</span>
										</label>
									</div>
									<button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
									<a href="#" class="linkForget">Forgot Password?</a>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
						<div id="tab02">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Name">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<input type="email" class="form-control elemenBlock" placeholder="Email Address">
									</div>
									<div class="form-group">
										<select data-placeholder="Type" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset" checked>
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">I have read and agree to the Term of Service.</span>
										</label>
									</div>
									<button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- include jQuery library -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/plugins.js"></script>
<!-- include bootstrap JavaScript -->
<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
<!-- include custom JavaScript -->
<script src="../../static/userResources/js/jquery.main.js"></script>
<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>