
<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>LemanHouse - Real Estate HTML Template</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageMenuPushWrap -->
		<div class="pageMenuPushWrap pageMenuPushWrap1">
			<!-- bgBaseWrap -->
			<div class="bgBaseWrap">

				<!-- pageHeader -->
				{% include 'user/header.html' %}
				<!-- main -->

				<main>
					<!-- findFormBlock -->
					<form action="#" class="findFormBlock findFormBlock2 bgLightDark hasShadowTop offsetHeaderTop">
						<div class="container">
							<div class="row align-center d-flex">
								<div class="col-xs-12 col-sm-5 col-md-4 col-lg-5">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="Enter address e.g. street, city and state or zip">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<div class="form-group">
										<i class="fi flaticon-target icnInput"></i>
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="All Cities">
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2">
									<div class="form-group">
										<select data-placeholder="All Areas" class="chosen-select noBdr sizeMedium">
											<option value="1">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 col-lg-3">
									<div class="btnsWrap">
										<!-- otherFeaturesOpener -->
										<a class="btnPlus otherFeaturesOpener text-capitalize noTopBottom" role="button" data-toggle="collapse" href="#otherFeaturescollapse" aria-expanded="false" aria-controls="otherFeaturescollapse">
											<i class="fas btnIcn fa-plus-circle text-info opener"></i>
											<i class="fas fa-minus-circle closer btnIcn text-info"></i>
											Advanced
										</a>
										<button type="button" class="btn btnDark buttonSmall text-uppercase fontNeuron hidden-xs">SEARCH</button>
									</div>
								</div>
							</div>
							<!-- orderRow -->
							<div class="row">
								<div class="col-xs-12">
									<!-- otherFeaturesCollapse -->
									<div class="collapse otherFeaturesCollapse" id="otherFeaturescollapse">
										<!-- checkList -->
										<ul class="list-unstyled checkList text-primary">
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Air conditioning</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cofee pot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fan</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hi-fi</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Balcony</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Computer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fridge</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Internet</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Bedding</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Grill</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Iron</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cable TV</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Dishwasher</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hairdryer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Juicer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cleaning after exit</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">DVD</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Heating</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Lift</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<button type="button" class="btn btnDark text-uppercase fontNeuron">SEARCH</button>
								</div>
							</div>
						</div>
					</form>
					<!-- twoColumns -->
					<section class="twoColumns container">
						<!-- contentFiltersHeadingWrap -->
						<header class="contentFiltersHeadingWrap row">
							<div class="col-xs-12 col-sm-10">
								<!-- breadcrumb -->
								<ol class="breadcrumb breadcrumb1">
									<li><a href="#">Home</a></li>
									<li class="active">Agencies</li>
								</ol>
								<h1 class="fontNeuron">Agencies List</h1>
							</div>
							<div class="col-xs-12 col-sm-2">
								<!-- viewFilterLinks -->
								<ul class="list-unstyled viewFilterLinks">
									<li><a href="#"><i class="fi flaticon-share"></i></a></li>
									<li><a href="#"><i class="fi flaticon-printer"></i></a></li>
								</ul>
							</div>
						</header>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img63.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">All American Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img64.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Country House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img65.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Eco House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img66.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Luxury House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img67.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">All American Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img68.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Country House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img69.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Eco House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
								<!-- profileColumn -->
								<article class="agencyColumn bgWhite">
									<div class="aligncenter">
										<a href="agencies-detail.html">
											<img src="../../static/userResources/images/img70.jpg" alt="Veronica Green Sales Executive">
										</a>
									</div>
									<div class="textWrap">
										<h2 class="fontNeuron text-capitalize"><a href="agencies-detail.html">Luxury House Real Estate</a></h2>
										<!-- captionAddress -->
										<address class="captionAddress">
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<a href="#" class="tel">(546) 766-564</a>
										<span class="txt">43 Property(s)</span>
									</div>
								</article>
							</div>
						</div>
					</section>
					<!-- signupFormAside -->
					<form action="#" class="bgWhite signupFormAside">
						<div class="container signupFormAsideHolder">
							<span class="icnAbsolute elemenBlock fi flaticon-message"></span>
							<div class="col-xs-12 col-md-offset-2 col-md-6">
								<h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
								<p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="form-group">
									<input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
									<button type="button" class="buttonReset fi flaticon-navigation"></button>
								</div>
							</div>
						</div>
					</form>
				</main>
			</div>
			<!-- pageFooterBlock -->
			{% include 'user/footer.html' %}
		</div>
		<!-- pagePopupWrap -->
		<div class="popup-holder">
			<div id="popup1" class="lightbox-demo">
				<!-- popupLoginFrom -->
				<form action="#" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
					<ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
						<li class="active"><a href="#tab01">LOGIN</a></li>
						<li><a href="#tab02">REGISTER</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab01" class="tab-active">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Namer">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset">
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">Remember me</span>
										</label>
									</div>
									<button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
									<a href="#" class="linkForget">Forgot Password?</a>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
						<div id="tab02">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Name">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<input type="email" class="form-control elemenBlock" placeholder="Email Address">
									</div>
									<div class="form-group">
										<select data-placeholder="Type" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset" checked>
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">I have read and agree to the Term of Service.</span>
										</label>
									</div>
									<button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- include jQuery library -->
	<script src="../../static/userResources/js/jquery.js"></script>
	<script src="../../static/userResources/js/plugins.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="../../static/userResources/js/jquery.main.js"></script>
	<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>