<!DOCTYPE html>
<html>
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the page title -->
    <title>Forum | LemanHouse</title>
    <!-- include google roboto font cdn link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>
<body>
<!-- pageWrapper -->
<div id="pageWrapper">
    <!-- pageMenuPushWrap -->
    <div class="pageMenuPushWrap pageMenuPushWrap1">
        <!-- bgBaseWrap -->
        <div class="bgBaseWrap">
            <!-- pageHeader -->
            {% include 'user/menu.html' %}
            <!-- main -->
            <main>
                <section id="content" class="container pabIndent">
                    <!-- contentFiltersHeadingWrap -->
                    <header class="contentFiltersHeadingWrap row">
                        <div class="col-xs-12 col-sm-10">
                            <!-- breadcrumb -->
                            {#								<ol class="breadcrumb breadcrumb1">#}
                            {#									<li><a href="#">Home</a></li>#}
                            {#									<li><a href="#">Pages</a></li>#}
                            {#									<li class="active">FAQs</li>#}
                            {#								</ol>#}
                            <h1 class="fontNeuron">Forum Answer</h1>
                        </div>
                    </header>
                    <div class="twoColumns indentTop container">

                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <!-- content -->
                            <article id="content">
                                <!-- boxPanelBlock -->
                                <section id="Detail" class="accountData">
                                    <div class="head">
                                        <h2 class="fontNeuron">{{ forumQuestionDict[0].forumQuestion }}</h2>
                                    </div>
                                    <form action="/insertAnswer" method="post"
                                          class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
                                        <div class="tab-content">
                                            <div class="popupColsHolder">
                                                <div class="col bgWhite">
                                                    <input type="hidden" name="forumQuestionId" value="{{ forumQuestionDict[0].forumQuestionId }}">
                                                    <div class="form-group">
                                            <textarea class="form-control elemenBlock" name="forumAnswer" cols="120" rows="10"
                                              placeholder="write your question here"></textarea>
                                                    </div>
                                                    <button type="submit"
                                                            class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </article>
                        </div>

                    </div>

                </section>

            </main>

        </div>
        <!-- pageFooterBlock -->
        {#        {% include 'user/footer.html' %}#}
        <!-- pagePopupWrap -->

    </div>
    <!-- include jQuery library -->
    <script src="../../static/userResources/js/jquery.js"></script>
    <script src="../../static/userResources/js/plugins.js"></script>
    <!-- include bootstrap JavaScript -->
    <script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
    <!-- include custom JavaScript -->
    <script src="../../static/userResources/js/jquery.main.js"></script>
    <script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>