

<header id="pageHeader" class="bgWhite offsetBottom">
    <!-- pageHeaderWrap -->
    <div class="pageHeaderWrap">
        <!-- headerTopBar -->
{#        <div class="bgLightDark headerTopBar textLightDark">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xs-6 col-sm-4">#}
{#                        <time datetime="2011-01-12" class="TopBarTime">Mon - Sat: 08.00 AM - 18.00 PM</time>#}
{#                    </div>#}
{#                    <div class="col-xs-6 col-sm-8 text-right">#}
{#                        <!-- topBarPanelList -->#}
{#                        <ul class="list-unstyled topBarPanelList">#}
{#                            <li class="hidden-xs">#}
{#                                <!-- topBarPanelListSocial -->#}
{#                                <ul class="list-unstyled socialNetworks topBarPanelListSocial">#}
{#                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#                                    <li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li>#}
{#                                <!-- topBarPanelListDropdown -->#}
{#                                <div class="dropdown topBarPanelListDropdown">#}
{#                                    <button class="dropdown-toggle buttonReset" type="button" id="dropdownDol"#}
{#                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD#}
{#                                        ($)<span class="caret"></span></button>#}
{#                                    <!-- dropdownDol -->#}
{#                                    <ul class="dropdown-menu" aria-labelledby="dropdownDol">#}
{#                                        <li><a href="#">USD</a></li>#}
{#                                        <li><a href="#">EURO</a></li>#}
{#                                        <li><a href="#">YTL</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <!-- topBarPanelListDropdown -->#}
{#                                <div class="dropdown topBarPanelListDropdown">#}
{#                                    <button class="dropdown-toggle buttonReset" type="button" id="dropdownLang"#}
{#                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                        English<span class="caret"></span></button>#}
{#                                    <!-- dropdownLang -->#}
{#                                    <ul class="dropdown-menu" aria-labelledby="dropdownLang">#}
{#                                        <li><a href="#">English</a></li>#}
{#                                        <li><a href="#">Turkish</a></li>#}
{#                                        <li><a href="#">French</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <!-- topBarPanelListDropdown -->#}
{#                                <div class="dropdown topBarPanelListDropdown">#}
{#                                    <a href="{{ url_for('logout') }}">#}
{#                                    <span class="dropdown-toggle buttonReset" type="button"#}
{#                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                        Logout</span>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="container">
            <!-- headerHolder -->
            <div class="headerHolder">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <!-- logo -->
                        <div class="logo"><a href="{{ url_for('home') }}"><img src="../../static/userResources/images/logo.png"
                                                                    alt="LemanHouse"></a></div>
                    </div>


                    <div class="col-xs-6 col-sm-9 d-flex">
                        <!-- headerContactList -->
                        <ul class="list-unstyled headerContactList">
                            <li>
                                <a href="tel:+12463450695" class="icn icnBubble noShrink text-info"><i
                                        class="fi flaticon-24-hours"></i></a>
                                <div class="descr hidden-xs">
                                    <strong class="fwNormal elemenBlock text"><a href="tel:+12463450695">+1
                                        246-345-0695</a></strong>
                                    <strong class="fwNormal elemenBlock text"><a
                                            href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;</a></strong>
                                </div>
                            </li>
                            <li class="hidden-xs">
                                <span class="icn icnJumping text-info noShrink"><i class="fi flaticon-pin-1"></i></span>
                                <div class="descr">
                                    <strong class="fwNormal elemenBlock text">PO Box 16122 Collins Street West <br>Victoria
                                        8007 Australia</strong>
                                </div>
                            </li>
                        </ul>
                        <!-- headerSearchForm -->
                        <form action="#" class="headerSearchForm">
                            <a class="headerSearchOpener roundedCircle bgWhite" role="button" data-toggle="collapse"
                               href="#headerSearchFormcollapse" aria-expanded="false"
                               aria-controls="headerSearchFormcollapse"><i class="fi flaticon-search btnOpen"></i><i
                                    class="fas fa-times btnClose"></i></a>
                            <!-- headerSearchFormcollapse -->
                            <div class="collapse searchFormcollapse bgWhite" id="headerSearchFormcollapse"
                                 aria-expanded="false" role="form">
                                <div class="form-group form-group-lg">
                                    <label for="s" class="labelIcn"><i class="fi flaticon-search"></i></label>
                                    <input type="search" id="s" class="form-control elemenBlock"
                                           placeholder="Search&hellip;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- pageNav -->
            {% include 'user/menu.html' %}
            {#<nav id="pageNav" class="navbar navbar-default pageNav1">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header hidden-sm hidden-md hidden-lg">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!-- navbar collapse -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<div class="navigation-wrapper">
										<strong class="h elemenBlock h4 textWhite text-center hidden-sm hidden-md hidden-lg menuTitle fontNeuron" id="menu-title">Menu</strong>
										<!-- pageMainNav -->
										<ul class="nav navbar-nav pageMainNav pageMainNav1">
											<li class="active dropdown">
												<a href="#" class="dropdown-toggle">Home<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="home.html">Homepage 1</a></li>
															<li><a href="home2.html">Homepage 2</a></li>
															<li><a href="home3.html">Homepage 3</a></li>
															<li><a href="home4.html">Homepage 4</a></li>
															<li><a href="home5.html">Homepage 5</a></li>
															<li><a href="home6.html">Homepage 6</a></li>
														</ul>
													</div>
												</div>
											</li>
											<!-- remove dropdownFull class when its just regular dropdown -->
											<li class="dropdown dropdownFull">
												<a href="#" class="dropdown-toggle">Properties <span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1 pageMainNavDropdownFull pageMainNavDropdownFull1">
															<li>
																<div class="dropdownColumnsHolder">
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Properties</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="properties-grid.html">Properties Grid</a></li>
																			<li><a href="properties-list.html">Properties List</a></li>
																			<li><a href="properties-map-grid.html">Properties Map Grid</a></li>
																			<li><a href="properties-map-list.html">Properties Map List</a></li>
																			<li><a href="properties-grid-left-search.html">Properties Grid Left</a></li>
																			<li><a href="properties-half-map-grid.html">Properties Half Map Grid</a></li>
																			<li><a href="properties-half-map-list.html">Properties Half Map List</a></li>
																			<li><a href="properties-full-width-list.html">Properties Full Width List</a></li>
																			<li><a href="properties-full-width-grid.html">Properties Full Width Grid</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Properties Single</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="properties-single1.html">Properties Single 1</a></li>
																			<li><a href="properties-single2.html">Properties Single 2</a></li>
																			<li><a href="properties-single3.html">Properties Single 3</a></li>
																			<li><a href="properties-single4.html">Properties Single 4</a></li>
																			<li><a href="properties-single5.html">Properties Single 5</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">New Properties</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="propertyBasicDetails.html">Add step 01</a></li>
																			<li><a href="add-step-02.html">Add step 02</a></li>
																			<li><a href="propertyGallery.html">Add step 03</a></li>
																			<li><a href="add-step-04.html">Add step 04</a></li>
																			<li><a href="add-step-05.html">Add step 05</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Other Pages</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="user-profile.html">User Profile</a></li>
																			<li><a href="my-properties.html">My Properties</a></li>
																			<li><a href="favourite-properties.html">Favourite Properties</a></li>
																			<li><a href="membership.html">Membership</a></li>
																			<li><a href="properties-faqs.html">Properties Faqs</a></li>
																		</ul>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle">Pages<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="404.html">404</a></li>
															<li><a href="about.html">About</a></li>
															<li><a href="agencies.html">Agencies</a></li>
															<li><a href="agencies-detail.html">Agencies detail</a></li>
															<li><a href="agent.html">Agent</a></li>
															<li><a href="agent-detail.html">Agent detail</a></li>
														</ul>
													</div>
												</div>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle">Blog<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="blog.html">Blog</a></li>
															<li><a href="blog-detail.html">Blog detail</a></li>
															<li><a href="blog-list.html">Blog list</a></li>
															<li><a href="blog-full-width.html">Blog full width</a></li>
															<li><a href="blog-list-full-width.html">Blog list full width</a></li>
														</ul>
													</div>
												</div>
											</li>
											<li>
												<a href="contact.html">Contact</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- userOptions -->
								<div class="userOptions">
									<!-- UserLinksList -->
									<ul class="list-unstyled UserLinksList">
										<li>
											<a href="#popup1" class="lightbox">
												<i class="fi flaticon-social icn"></i>
												<strong class="text fwNormal hidden-xs hidden-sm">Login</strong>
											</a>
										</li>
										<li>
											<a href="#popup1" class="lightbox">
												<i class="fi flaticon-edit icn"></i>
												<strong class="text fwNormal hidden-xs hidden-sm">Register</strong>
											</a>
										</li>
									</ul>
									<!-- headerModalOpener -->
									<a href="#" class="headerModalOpener text-uppercase fontNeuron fwBold"><i class="openerIcon"></i> Submit Property</a>
								</div>
							</nav>#}
        </div>
    </div>
</header>
