<header id="pageHeader" class="headerAbsolute">
    <!-- headerAbsoluteHolder -->
    <div class="headerAbsoluteHolder clearfix">
        <!-- logo -->
        <div class="logo"><a href="home.html"><img src="../../static/userResources/images/logo2.png"
                                                   alt="LemanHouse real estate"></a></div>
        <!-- pageNav -->
        <nav id="pageNav" class="navbar navbar-default navTransparent pageNav2">
            <!-- navbar collapse -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navigation-wrapper">
                    <strong class="h elemenBlock h4 textWhite text-center menuTitle fontNeuron hidden-wiii hidden-wiv"
                            id="menu-title">Menu</strong>
                    <!-- pageMainNav -->
                    <ul class="nav navbar-nav pageMainNav transparentWhite pageMainNav2">
                        <li>
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                            <a href="/viewProperies">Properties</a>
                        </li>
                        <li>
                            <a href="/forum">Forum</a>
                        </li>
                        {% if session['loginId'] %}
                            <li>
                                <a href="/userProfile">Profile</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/loadLogin">Login</a>
                            </li>
                            <li>
                                <a href="/loadRegister">Register</a>
                            </li>
                        {% endif %}
                    </ul>

                    {#                    <ul class="nav navbar-nav pageMainNav transparentWhite pageMainNav2">#}
                    {#                        <li class="active dropdown">#}
                    {#                            <a href="#" class="dropdown-toggle">Home<span class="caret"></span></a>#}
                    {#                            <div class="frame-wrap">#}
                    {#                                <div class="frame">#}
                    {#                                    <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown2">#}
                    {#                                        <li><a href="home.html">Homepage 1</a></li>#}
                    {#                                        <li><a href="home2.html">Homepage 2</a></li>#}
                    {#                                        <li><a href="home3.html">Homepage 3</a></li>#}
                    {#                                        <li><a href="home4.html">Homepage 4</a></li>#}
                    {#                                        <li><a href="home5.html">Homepage 5</a></li>#}
                    {#                                        <li><a href="home6.html">Homepage 6</a></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                        <!-- remove dropdownFull class when its just regular dropdown -->#}
                    {#                        <li class="dropdown dropdownFull">#}
                    {#                            <a href="#" class="dropdown-toggle">Properties <span class="caret"></span></a>#}
                    {#                            <div class="frame-wrap">#}
                    {#                                <div class="frame">#}
                    {#                                    <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown2 pageMainNavDropdownFull pageMainNavDropdownFull2">#}
                    {#                                        <li>#}
                    {#                                            <div class="dropdownColumnsHolder">#}
                    {#                                                <div class="dropdownCol">#}
                    {#                                                    <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md hidden-di hidden-dii hidden-wii">Properties</strong>#}
                    {#                                                    <ul class="list-unstyled dropdownColList">#}
                    {#                                                        <li><a href="properties-grid.html">Properties Grid</a></li>#}
                    {#                                                        <li><a href="properties-list.html">Properties List</a></li>#}
                    {#                                                        <li><a href="properties-map-grid.html">Properties Map Grid</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-map-list.html">Properties Map List</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-grid-left-search.html">Properties Grid#}
                    {#                                                            Left</a></li>#}
                    {#                                                        <li><a href="properties-half-map-grid.html">Properties Half Map#}
                    {#                                                            Grid</a></li>#}
                    {#                                                        <li><a href="properties-half-map-list.html">Properties Half Map#}
                    {#                                                            List</a></li>#}
                    {#                                                        <li><a href="properties-full-width-list.html">Properties Full#}
                    {#                                                            Width List</a></li>#}
                    {#                                                        <li><a href="properties-full-width-grid.html">Properties Full#}
                    {#                                                            Width Grid</a></li>#}
                    {#                                                    </ul>#}
                    {#                                                </div>#}
                    {#                                                <div class="dropdownCol">#}
                    {#                                                    <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md hidden-di hidden-dii hidden-wii">Properties#}
                    {#                                                        Single</strong>#}
                    {#                                                    <ul class="list-unstyled dropdownColList">#}
                    {#                                                        <li><a href="properties-single1.html">Properties Single 1</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-single2.html">Properties Single 2</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-single3.html">Properties Single 3</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-single4.html">Properties Single 4</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="properties-single5.html">Properties Single 5</a>#}
                    {#                                                        </li>#}
                    {#                                                    </ul>#}
                    {#                                                </div>#}
                    {#                                                <div class="dropdownCol">#}
                    {#                                                    <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md hidden-di hidden-dii hidden-wii">New#}
                    {#                                                        Properties</strong>#}
                    {#                                                    <ul class="list-unstyled dropdownColList">#}
                    {#                                                        <li><a href="add-step-01.html">Add step 01</a></li>#}
                    {#                                                        <li><a href="add-step-02.html">Add step 02</a></li>#}
                    {#                                                        <li><a href="add-step-03.html">Add step 03</a></li>#}
                    {#                                                        <li><a href="add-step-04.html">Add step 04</a></li>#}
                    {#                                                        <li><a href="add-step-05.html">Add step 05</a></li>#}
                    {#                                                    </ul>#}
                    {#                                                </div>#}
                    {#                                                <div class="dropdownCol">#}
                    {#                                                    <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md hidden-di hidden-dii hidden-wii">Other#}
                    {#                                                        Pages</strong>#}
                    {#                                                    <ul class="list-unstyled dropdownColList">#}
                    {#                                                        <li><a href="user-profile.html">User Profile</a></li>#}
                    {#                                                        <li><a href="my-properties.html">My Properties</a></li>#}
                    {#                                                        <li><a href="favourite-properties.html">Favourite Properties</a>#}
                    {#                                                        </li>#}
                    {#                                                        <li><a href="membership.html">Membership</a></li>#}
                    {#                                                        <li><a href="properties-faqs.html">Properties Faqs</a></li>#}
                    {#                                                    </ul>#}
                    {#                                                </div>#}
                    {#                                            </div>#}
                    {#                                        </li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                        <li class="dropdown">#}
                    {#                            <a href="#" class="dropdown-toggle">Pages<span class="caret"></span></a>#}
                    {#                            <div class="frame-wrap">#}
                    {#                                <div class="frame">#}
                    {#                                    <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown2">#}
                    {#                                        <li><a href="404.html">404</a></li>#}
                    {#                                        <li><a href="about.html">About</a></li>#}
                    {#                                        <li><a href="agencies.html">Agencies</a></li>#}
                    {#                                        <li><a href="agencies-detail.html">Agencies detail</a></li>#}
                    {#                                        <li><a href="agent.html">Agent</a></li>#}
                    {#                                        <li><a href="agent-detail.html">Agent detail</a></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                        <li class="dropdown">#}
                    {#                            <a href="#" class="dropdown-toggle">Blog<span class="caret"></span></a>#}
                    {#                            <div class="frame-wrap">#}
                    {#                                <div class="frame">#}
                    {#                                    <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown2">#}
                    {#                                        <li><a href="blog.html">Blog</a></li>#}
                    {#                                        <li><a href="blog-detail.html">Blog detail</a></li>#}
                    {#                                        <li><a href="blog-list.html">Blog list</a></li>#}
                    {#                                        <li><a href="blog-full-width.html">Blog full width</a></li>#}
                    {#                                        <li><a href="blog-list-full-width.html">Blog list full width</a></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="contact.html">Contact</a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                </div>
            </div>
            <!-- userOptions -->
            <div class="userOptions userOptions2 align-center">
                <!-- headerSearchForm -->
                <form action="#" class="headerSearchForm headerSearchForm2">
                    <a class="headerSearchOpener transparentWhite roundedCircle activeClassOnBody" role="button"
                       data-toggle="collapse" href="#headerSearchFormcollapse" aria-expanded="false"
                       aria-controls="headerSearchFormcollapse"><i class="fi flaticon-search btnOpen"></i><i
                            class="fas fa-times btnClose"></i></a>
                    <!-- headerSearchFormcollapse -->
                    <div class="collapse searchFormcollapse searchFormcollapse2" id="headerSearchFormcollapse"
                         aria-expanded="false" role="form">
                        <div class="form-group form-group-lg">
                            <label for="s" class="labelIcn"><i class="fi flaticon-search"></i></label>
                            <input type="search" id="s" class="form-control formControlTransparent elemenBlock"
                                   placeholder="Search&hellip;">
                        </div>
                    </div>
                </form>
                <!-- UserLinksList -->
{#                <ul class="list-unstyled UserLinksList UserLinksListSingle text-uppercase">#}
{#                    <li class="hidden-xs-ph hidden-ph">#}
{#                        <a href="#popup1" class="lightbox">Login</a> / <a href="#popup1" class="lightbox">Register</a>#}
{#                    </li>#}
{#                    <li class="hd-up-phone hidden-sm hidden-md hidden-lg">#}
{#                        <a href="#"><i class="fi flaticon-social icn"></i></a>#}
{#                    </li>#}
{#                </ul>#}
                <!-- headerModalOpener -->
                <a href="/loadPostProperty"
                   class="headerModalOpener transparentWhite text-uppercase fontNeuron fwBold noShrink hidden-xs"><i
                        class="openerIcon"></i> Submit Property</a>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>