<!DOCTYPE html>
<html>

<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>LemanHouse - Real Estate HTML Template</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/style.css">

</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageMenuPushWrap -->
		<div class="pageMenuPushWrap pageMenuPushWrap1">
			<!-- bgBaseWrap -->
			<div class="bgBaseWrap">
				<!-- pageHeader -->

                {% include 'user/header.html' %}

				<!-- main -->
				<main>
					<!-- introSlider -->
					<section class="slick-fade slickSlider introSlider">
						<div>
							<!-- introSlide -->
							<article class="introSlide bgCover" style="background-image: url(../../static/userResources/images/img01.jpg);">
								<div class="container introSlideHolder">
									<div class="align">
										<!-- introSlideCaption -->
{#										<div class="introSlideCaption">#}
{#											<h1 class="text-uppercase fontNeuron">Mordern Family Home</h1>#}
{#											<div class="introSlideCaptionHolder">#}
{#												<address class="text-primary">#}
{#													<span class="icn"><i class="fi flaticon-pin-1"></i></span>#}
{#													<p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>#}
{#												</address>#}
{#												<h2 class="fontNeuron">$ 490,000 <strong class="fwNormal textUnit">/ monthly</strong></h2>#}
{#												<div class="btnsWrap">#}
{#													<a href="#" class="btn btn-success btnSmall">For Sale</a>#}
{#													<a href="#" class="btn btn-info btnSmall">Featured</a>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
									</div>
								</div>
							</article>
						</div>
						<div>
							<!-- introSlide -->
							<article class="introSlide bgCover" style="background-image: url(../../static/userResources/images/img02.jpg);">
								<div class="container introSlideHolder">
									<div class="align">
										<!-- introSlideCaption -->
{#										<div class="introSlideCaption">#}
{#											<h1 class="text-uppercase fontNeuron">Mordern Home</h1>#}
{#											<div class="introSlideCaptionHolder">#}
{#												<address class="text-primary">#}
{#													<span class="icn"><i class="fi flaticon-pin-1"></i></span>#}
{#													<p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>#}
{#												</address>#}
{#												<h2 class="fontNeuron">$ 400,000 <strong class="fwNormal textUnit">/ monthly</strong></h2>#}
{#												<div class="btnsWrap">#}
{#													<a href="#" class="btn btn-success btnSmall">For Sale</a>#}
{#													<a href="#" class="btn btn-info btnSmall">Featured</a>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
									</div>
								</div>
							</article>
						</div>
						<div>
							<!-- introSlide -->
							<article class="introSlide bgCover" style="background-image: url(../../static/userResources/images/img03.jpg);">
								<div class="container introSlideHolder">
									<div class="align">
										<!-- introSlideCaption -->
{#										<div class="introSlideCaption">#}
{#											<h1 class="text-uppercase fontNeuron">Latest Family Home</h1>#}
{#											<div class="introSlideCaptionHolder">#}
{#												<address class="text-primary">#}
{#													<span class="icn"><i class="fi flaticon-pin-1"></i></span>#}
{#													<p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>#}
{#												</address>#}
{#												<h2 class="fontNeuron">$ 390,000 <strong class="fwNormal textUnit">/ monthly</strong></h2>#}
{#												<div class="btnsWrap">#}
{#													<a href="#" class="btn btn-success btnSmall">For Sale</a>#}
{#													<a href="#" class="btn btn-info btnSmall">Featured</a>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
									</div>
								</div>
							</article>
						</div>
					</section>
					<!-- findFormBlock -->
					<form action="#" class="bgWhite findFormBlock hasShadow">
						<div class="container">
							<h2 class="fontNeuron">FIND YOUR <span class="text-info">PROPERTY</span></h2>
							<hr class="sep elemenBlock">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Enter Your Keyword&hellip;">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Location">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<select data-placeholder="All Property Types" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<select data-placeholder="All Property Types" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<div class="price-wrapper">Price Range: From <b class="startValue">$500</b> to <b class="endValue">$500,000</b><!-- Filter by price interval: <b>€ 10</b><b>€ 1000</b> --></div>
										<input id="price-range" type="text" class="span2" value="" data-slider-min="500" data-slider-max="500000" data-slider-step="10" data-slider-value="[100000,400000]"/>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="row">
										<div class="col-xs-6">
											<div class="form-group">
												<select data-placeholder="Beds" class="chosen-select">
													<option value="1">Beds</option>
													<option value="1">Beds</option>
													<option value="1">Beds</option>
													<option value="1">Beds</option>
													<option value="1">Beds</option>
												</select>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<select data-placeholder="Baths" class="chosen-select">
													<option value="1">Baths</option>
													<option value="1">Baths</option>
													<option value="1">Baths</option>
													<option value="1">Baths</option>
													<option value="1">Baths</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Area Min... (Sq Ft)">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="form-group">
										<select data-placeholder="Parking" class="chosen-select">
											<option value="1">Parking</option>
											<option value="1">Parking</option>
											<option value="1">Parking</option>
											<option value="1">Parking</option>
											<option value="1">Parking</option>
										</select>
									</div>
								</div>
							</div>
							<!-- orderRow -->
							<div class="row orderRow">
								<div class="col-xs-12 col-sm-3 order1">
									<!-- otherFeaturesOpener -->
									<a class="btnPlus otherFeaturesOpener text-capitalize" role="button" data-toggle="collapse" href="#otherFeaturescollapse" aria-expanded="false" aria-controls="otherFeaturescollapse">
										<i class="fas btnIcn fa-plus-circle text-info opener"></i>
										<i class="fas fa-minus-circle closer btnIcn text-info"></i>
										Others Features
									</a>
								</div>
								<div class="col-xs-12 order3">
									<!-- otherFeaturesCollapse -->
									<div class="collapse otherFeaturesCollapse" id="otherFeaturescollapse">
										<!-- checkList -->
										<ul class="list-unstyled checkList text-primary">
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Air conditioning</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cofee pot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fan</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hi-fi</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Balcony</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Computer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fridge</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Internet</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Bedding</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Grill</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Iron</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cable TV</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Dishwasher</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hairdryer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Juicer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cleaning after exit</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">DVD</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Heating</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Lift</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-sm-offset-6 col-sm-3 order2">
									<button type="button" class="btn btnSecondary text-uppercase fontNeuron pull-right">SEARCH</button>
								</div>
							</div>
						</div>
					</form>
					<!-- latestPostsBlock -->
					<section class="latestPostsBlock container">
						<!-- rowHead -->
						<header class="row rowHead">
							<div class="col-xs-12 col-sm-5">
								<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">LATEST</span> <span class="textSecondary">PROPERTIES</span></h1>
							</div>
							<div class="col-xs-12 col-sm-7">
								<!-- postsFiltersList -->
								<ul class="list-unstyled postsFiltersList text-capitalize text-center isoFiltersList">
									<li class="active"><a href="#">All</a></li>
									<li><a href="#" data-filter=".rent">For Rent</a></li>
									<li><a href="#" data-filter=".sale">For Sale</a></li>
								</ul>
							</div>
						</header>
						<!-- isoContentHolder -->
						<div class="isoContentHolder">
							<div class="row">
                                {% for i in propertyDict %}
                                <div class="col-xs-12 col-sm-6 col-md-4 col isoCol sale">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">

                                                {% set source = i.propertyGalleryPath+'/coverImages' %}
												{% for root, dirnames, filenames in walk(source) %}
                                                    {% for filename in filenames %}
                                                        <div>
                                                            <div class="imgHolder">
                                                                <a href="properties-single1.html">
                                                                    {% set imgPath = '../../static/userResources/propertyGallery/'+i.propertyId|string+'/coverImages/'+filename %}
                                                                    <img height="100px"  width="100px" src="{{ imgPath }}" alt="{{ filename }}">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                {% endfor %}
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">{{ i.propertyName }}</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>{{ i.propertyStreet }},{{ i.cityName }},{{ i.stateName }}</p>
										</address>
										<span class="btn btnSmall btn-success text-capitalize">{{ i.propertyListFor }}</span>
                                        {% if i.propertyListFor == 'sell' %}
                                            <h3 class="fontNeuron fwSemi"><span class="textSecondary">$ {{ i.propertyPrice }}</span></h3>
                                        {% else %}
										    <h3 class="fontNeuron fwSemi"><span class="textSecondary">$ {{ i.propertyMonthlyRent }}</span> <span class="textUnit fwNormal">/ monthly</span></h3>
                                        {% endif %}
										<!-- postColumnFoot -->

										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">{{ i.propertyBuildUpArea }} {{ i.propertyBuildUpAreaUnit }}</strong>
												</li>
                                                {% if i.propertyCategoryName == 'residential' %}
                                                    <li>
                                                        <strong class="fwNormal elemenBlock text-primary">Beds</strong>
                                                        <strong class="fwNormal elemenBlock">3</strong>
                                                    </li>
                                                    <li>
                                                        <strong class="fwNormal elemenBlock text-primary">Baths</strong>
                                                        <strong class="fwNormal elemenBlock">2</strong>
                                                    </li>
                                                    <li>
                                                        <strong class="fwNormal elemenBlock text-primary">Garages</strong>
                                                        <strong class="fwNormal elemenBlock">1</strong>
                                                    </li>
                                                {% elif i.propertyCategoryName == 'commercial' %}
                                                    {% if i.propertySubcategoryName == 'hotel' %}
                                                        <li>
                                                            <strong class="fwNormal elemenBlock text-primary">Washrooms</strong>
                                                            <strong class="fwNormal elemenBlock">{{ i.propertyWashrooms }}</strong>
                                                        </li>
                                                        <li>
                                                            <strong class="fwNormal elemenBlock text-primary">TotalRooms</strong>
                                                            <strong class="fwNormal elemenBlock">{{ i.propertyTotalRooms }}</strong>
                                                        </li>
                                                    {% else  %}
                                                        <li>
                                                            <strong class="fwNormal elemenBlock text-primary">Washrooms</strong>
                                                            <strong class="fwNormal elemenBlock">{{ i.propertyWashrooms }}</strong>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
											</ul>
										</footer>
                                        <footer class="postColumnFoot">
                                            <a href="/loadPropertyDetails?propertyId={{ i.propertyId }}" ><span  class="btn btnSmall btn-success text-capitalize vd">VIEW DETAILS</span></a>
                                        </footer>
									</article>
								</div>
                                {% endfor %}
							</div>
						</div>
						<div class="row text-center btnHolder">
							<a href="{{ url_for('viewProperies') }}" class="btn btn-primary btnPrimaryOutline text-capitalize fontNeuron">Show More Property</a>
						</div>
					</section>
					<!-- mostPostsBlock -->
{#					<section class="mostPostsBlock bgWhite">#}
{#						<div class="container">#}
{#							<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">MOST POPULAR</span> <span class="textSecondary">PLACES</span></h1>#}
{#							<div class="row">#}
{#								<div class="col-xs-12 col-sm-6">#}
{#									<!-- visualPostColumn -->#}
{#									<a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type01 textWhite">#}
{#										<span class="bgCover elemenBlock" style="background-image: url(../../static/userResources/images/img10.jpg);"></span>#}
{#										<div class="captionWrap">#}
{#											<h2 class="fontNeuron">New York</h2>#}
{#											<h3 class="fontNeuron fwNormal">24 Properties</h3>#}
{#										</div>#}
{#									</a>#}
{#								</div>#}
{#								<div class="col-xs-12 col-sm-6">#}
{#									<!-- visualPostColumn -->#}
{#									<a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type02 textWhite">#}
{#										<span class="bgCover elemenBlock" style="background-image: url(../../static/userResources/images/img11.jpg);"></span>#}
{#										<div class="captionWrap">#}
{#											<h2 class="fontNeuron">Chicago</h2>#}
{#											<h3 class="fontNeuron fwNormal">24 Properties</h3>#}
{#										</div>#}
{#									</a>#}
{#									<div class="row">#}
{#										<div class="col-xs-12 col-sm-6">#}
{#											<a href="#" class="visualPostColumn hasOver elemenBlock text-center type03 textWhite">#}
{#												<span class="bgCover elemenBlock" style="background-image: url(../../static/userResources/images/img12.jpg);"></span>#}
{#												<div class="captionWrap">#}
{#													<h2 class="fontNeuron">Los Angeles</h2>#}
{#													<h3 class="fontNeuron fwNormal">24 Properties</h3>#}
{#												</div>#}
{#											</a>#}
{#										</div>#}
{#										<div class="col-xs-12 col-sm-6">#}
{#											<a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type03 textWhite">#}
{#												<span class="bgCover elemenBlock" style="background-image: url(../../static/userResources/images/img13.jpg);"></span>#}
{#												<div class="captionWrap">#}
{#													<h2 class="fontNeuron">San Francisco</h2>#}
{#													<h3 class="fontNeuron fwNormal">24 Properties</h3>#}
{#												</div>#}
{#											</a>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</section>#}
					<!-- servicesFetaureBlock -->
					<section class="bgWhite servicesFetaureBlock">
						<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">SERVICE</span></h1>
						<!-- servicesFetauresList -->
						<ul class="servicesFetauresList list-unstyled text-center">
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-house"></i></span>
									<h2 class="fontNeuron text-capitalize">Saling Service</h2>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-rent"></i></span>
									<h2 class="fontNeuron text-capitalize">Renting Service</h2>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-list"></i></span>
									<h2 class="fontNeuron text-capitalize">Property Listing</h2>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icnHolder roundedCircle"><i class="fi flaticon-house-1"></i></span>
									<h2 class="fontNeuron text-capitalize">Property Management</h2>
								</a>
							</li>
						</ul>
					</section>
					<!-- ourAgentBlock -->
{#					<section class="bgWhite ourAgentBlock">#}
{#						<div class="container">#}
{#							<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">AGENT</span></h1>#}
{#							<div class="row">#}
{#								<!-- profilesSlider -->#}
{#								<div class="four-slider slickSlider profilesSlider">#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img14.jpg" alt="Veronica Green Sales Executive">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Veronica Green</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Sales Executive</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img15.jpg" alt="Guti Salvio Real Estate Broker">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Guti Salvio</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Real Estate Broker</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img16.jpg" alt="Elenia Jesse Selling Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Elenia Jesse</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Selling Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img17.jpg" alt="Emmy Ramos Buying Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Emmy Ramos</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Buying Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img14.jpg" alt="Veronica Green Sales Executive">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Veronica Green</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Sales Executive</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img15.jpg" alt="Guti Salvio Real Estate Broker">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Guti Salvio</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Real Estate Broker</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img16.jpg" alt="Elenia Jesse Selling Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Elenia Jesse</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Selling Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#									<div>#}
{#										<div class="col-xs-12">#}
{#											<!-- profileColumn -->#}
{#											<article class="profileColumn hasOver">#}
{#												<div class="aligncenter">#}
{#													<a href="agent-detail.html">#}
{#														<img src="../../static/userResources/images/img17.jpg" alt="Emmy Ramos Buying Agent">#}
{#													</a>#}
{#												</div>#}
{#												<div class="textWrap">#}
{#													<h2 class="fontNeuron text-capitalize"><a href="agent-detail.html">Emmy Ramos</a></h2>#}
{#													<h3 class="fwNormal text-capitalize">Buying Agent</h3>#}
{#													<div class="collapseWrap">#}
{#														<!-- profileColumnSocial -->#}
{#														<ul class="list-unstyled socialNetworks profileColumnSocial">#}
{#															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#															<li><a href="#"><i class="fab fa-google"></i></a></li>#}
{#														</ul>#}
{#													</div>#}
{#												</div>#}
{#											</article>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</section>#}
					<!-- testimonilasBlock -->
					<section class="testimonilasBlock">
						<div class="container">
							<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">Testimonials</span></h1>
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2">
									<!-- testimonialSlider -->
									<div class="slickSlider testimonial-carousel testimonialSlider">
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<div class="aligncenter roundedCircle">
													<a href="#">
														<img src="../../static/userResources/images/img18.jpg" class="roundedCircle" alt="image description">
													</a>
												</div>
												<h2 class="fontNeuron"><a href="#">The Hermess Family</a></h2>
												<p><em>Although we haven’t had many issues but any time there has been an issue you have been incredibly helpful and whenever you have come out for an inspection you have been so personable and absolutely lovely to be around. You are a great addition to the Realtyspace Team and i&hellip;</em></p>
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<div class="aligncenter roundedCircle">
													<a href="#">
														<img src="../../static/userResources/images/img18.jpg" class="roundedCircle" alt="image description">
													</a>
												</div>
												<div class="textWrap">
													<h2 class="fontNeuron"><a href="#">The Hermess Family</a></h2>
													<p><em>Although we haven’t had many issues but any time there has been an issue you have been incredibly helpful and whenever you have come out for an inspection you have been so personable and absolutely lovely to be around. You are a great addition to the Realtyspace Team and i&hellip;</em></p>
												</div>
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<div class="aligncenter roundedCircle">
													<a href="#">
														<img src="../../static/userResources/images/img18.jpg" class="roundedCircle" alt="image description">
													</a>
												</div>
												<div class="textWrap">
													<h2 class="fontNeuron"><a href="#">The Hermess Family</a></h2>
													<p><em>Although we haven’t had many issues but any time there has been an issue you have been incredibly helpful and whenever you have come out for an inspection you have been so personable and absolutely lovely to be around. You are a great addition to the Realtyspace Team and i&hellip;</em></p>
												</div>
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<div class="aligncenter roundedCircle">
													<a href="#">
														<img src="../../static/userResources/images/img18.jpg" class="roundedCircle" alt="image description">
													</a>
												</div>
												<div class="textWrap">
													<h2 class="fontNeuron"><a href="#">The Hermess Family</a></h2>
													<p><em>Although we haven’t had many issues but any time there has been an issue you have been incredibly helpful and whenever you have come out for an inspection you have been so personable and absolutely lovely to be around. You are a great addition to the Realtyspace Team and i&hellip;</em></p>
												</div>
											</article>
										</div>
										<div>
											<!-- testimonialColumn -->
											<article class="testimonialColumn text-center">
												<div class="aligncenter roundedCircle">
													<a href="#">
														<img src="../../static/userResources/images/img18.jpg" class="roundedCircle" alt="image description">
													</a>
												</div>
												<div class="textWrap">
													<h2 class="fontNeuron"><a href="#">The Hermess Family</a></h2>
													<p><em>Although we haven’t had many issues but any time there has been an issue you have been incredibly helpful and whenever you have come out for an inspection you have been so personable and absolutely lovely to be around. You are a great addition to the Realtyspace Team and i&hellip;</em></p>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- newsNstoriesBlock -->
					<section class="bgWhite newsNstoriesBlock">
						<div class="container">
							<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">NEWS AND</span> <span class="textSecondary">STORIES</span></h1>
							<div class="row">
								<!-- newsCarousel -->
								<div class="news-posts-carousel slickSlider newsCarousel">
									<div>
										<div class="col-xs-12">
											<!-- newsPostColumn -->
											<article class="newsPostColumn">
												<div class="aligncenter">
													<a href="blog-detail.html">
														<img src="../../static/userResources/images/img19.jpg" alt="image description">
													</a>
												</div>
												<h2 class="fontNeuron"><a href="blog-detail.html">Getting Started Designing Apps for the Apple Watch</a></h2>
												<p>
													<a href="#" class="btn btnSmall btn-info">Ali Tufan</a>
													<time datetime="2011-01-12">February 9, 2017</time>
													<a href="#" class="commentsCount">12 comment</a>
												</p>
												<footer class="PostColumnFoot">
													<a href="#" class="elemenBlock readMore text-capitalize">Read Article <i class="fi flaticon-arrows readMoreIcn"></i></a>
												</footer>
											</article>
										</div>
									</div>
									<div>
										<div class="col-xs-12">
											<!-- newsPostColumn -->
											<article class="newsPostColumn">
												<div class="aligncenter">
													<a href="blog-detail.html">
														<img src="../../static/userResources/images/img20.jpg" alt="image description">
													</a>
												</div>
												<h2 class="fontNeuron"><a href="blog-detail.html">Take Away You Can Get From</a></h2>
												<p>
													<a href="#" class="btn btnSmall btn-info">Ali Tufan</a>
													<time datetime="2011-01-12">February 9, 2017</time>
													<a href="#" class="commentsCount">12 comment</a>
												</p>
												<footer class="PostColumnFoot">
													<a href="#" class="elemenBlock readMore text-capitalize">Read Article <i class="fi flaticon-arrows readMoreIcn"></i></a>
												</footer>
											</article>
										</div>
									</div>
									<div>
										<div class="col-xs-12">
											<!-- newsPostColumn -->
											<article class="newsPostColumn">
												<div class="aligncenter">
													<a href="blog-detail.html">
														<img src="../../static/userResources/images/img19.jpg" alt="image description">
													</a>
												</div>
												<h2 class="fontNeuron"><a href="blog-detail.html">Getting Started Designing Apps for the Apple Watch</a></h2>
												<p>
													<a href="#" class="btn btnSmall btn-info">Ali Tufan</a>
													<time datetime="2011-01-12">February 9, 2017</time>
													<a href="#" class="commentsCount">12 comment</a>
												</p>
												<footer class="PostColumnFoot">
													<a href="#" class="elemenBlock readMore text-capitalize">Read Article <i class="fi flaticon-arrows readMoreIcn"></i></a>
												</footer>
											</article>
										</div>
									</div>
									<div>
										<div class="col-xs-12">
											<!-- newsPostColumn -->
											<article class="newsPostColumn">
												<div class="aligncenter">
													<a href="blog-detail.html">
														<img src="../../static/userResources/images/img20.jpg" alt="image description">
													</a>
												</div>
												<h2 class="fontNeuron"><a href="blog-detail.html">Take Away You Can Get From</a></h2>
												<p>
													<a href="#" class="btn btnSmall btn-info">Ali Tufan</a>
													<time datetime="2011-01-12">February 9, 2017</time>
													<a href="#" class="commentsCount">12 comment</a>
												</p>
												<footer class="PostColumnFoot">
													<a href="#" class="elemenBlock readMore text-capitalize">Read Article <i class="fi flaticon-arrows readMoreIcn"></i></a>
												</footer>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- sponsorsBlock -->
					<section class="container sponsorsBlock">
						<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">PARTNERS</span></h1>
						<!-- LogosCarousel -->
						<div class="logos-slider slickSlider LogosCarousel">
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor01.png" alt="helsinki">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="../../static/userResources/images/sponsor02.png" alt="norway">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor03.png" alt="lars grondahl">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor04.png" alt="kirsten">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor05.png" alt="only oslo">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor02.png" alt="norway">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor03.png" alt="lars grondahl">
									</a>
								</div>
							</div>
							<div>
								<!-- logoColumn -->
								<div class="logoColumn">
									<a href="#">
										<img src="userResources/images/sponsor04.png" alt="kirsten">
									</a>
								</div>
							</div>
						</div>
					</section>
					<!-- signupFormAside -->
					<form action="#" class="bgWhite signupFormAside">
						<div class="container signupFormAsideHolder">
							<span class="icnAbsolute elemenBlock fi flaticon-message"></span>
							<div class="col-xs-12 col-md-offset-2 col-md-6">
								<h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
								<p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="form-group">
									<input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
									<button type="button" class="buttonReset fi flaticon-navigation"></button>
								</div>
							</div>
						</div>
					</form>
				</main>
			</div>
			<!-- pageFooterBlock -->

            {% include 'user/footer.html' %}


		<!-- pagePopupWrap -->
		<div class="popup-holder">
			<div id="popup1" class="lightbox-demo">
				<!-- popupLoginFrom -->

					<ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
						<li class="active"><a href="#tab01">LOGIN</a></li>
						<li><a href="#tab02">REGISTER</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab01">
                            <form action="/checkLogin" method="post" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" name="loginEmailId" class="form-control elemenBlock" placeholder="User Namer">
									</div>
									<div class="form-group">
										<input type="password" name="loginPassword" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset">
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">Remember me</span>
										</label>
									</div>
									<button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
									<a href="#" class="linkForget">Forgot Password?</a>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
                            </form>
						</div>
						<div id="tab02">
                            <form action="/insertRegister" method="post" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" name="registerFirstName" placeholder="john">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" name="registerLastName" placeholder="snow">
									</div>
                                    <div class="form-group">
										<input type="email" class="form-control elemenBlock" name="registerEmailId" placeholder="johnsnow@email.com">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" name="registerContact" placeholder="123456789">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset" checked>
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">I have read and agree to the Term of Service.</span>
										</label>
									</div>
									<button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
                            </form>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- include jQuery library -->
	<script src="../../static/userResources/js/jquery.js"></script>
	<script src="../../static/userResources/js/plugins.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="../../static/userResources/js/jquery.main.js"></script>
	<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>