
<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>LemanHouse - Real Estate HTML Template</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageMenuPushWrap -->
		<div class="pageMenuPushWrap pageMenuPushWrap1">
			<!-- bgBaseWrap -->
			<div class="bgBaseWrap">
				<!-- pageHeader -->
				{% include 'user/header.html' %}
				<!-- main -->
				<main>
					<!-- findFormBlock -->
					<form action="#" class="findFormBlock findFormBlock2 bgLightDark hasShadowTop offsetHeaderTop">
						<div class="container">
							<div class="row align-center d-flex">
								<div class="col-xs-12 col-sm-5 col-md-4 col-lg-5">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="Enter address e.g. street, city and state or zip">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<div class="form-group">
										<i class="fi flaticon-target icnInput"></i>
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="All Cities">
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2">
									<div class="form-group">
										<select data-placeholder="All Areas" class="chosen-select noBdr sizeMedium">
											<option value="1">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 col-lg-3">
									<div class="btnsWrap">
										<!-- otherFeaturesOpener -->
										<a class="btnPlus otherFeaturesOpener text-capitalize noTopBottom" role="button" data-toggle="collapse" href="#otherFeaturescollapse" aria-expanded="false" aria-controls="otherFeaturescollapse">
											<i class="fas btnIcn fa-plus-circle text-info opener"></i>
											<i class="fas fa-minus-circle closer btnIcn text-info"></i>
											Advanced
										</a>
										<button type="button" class="btn btnDark buttonSmall text-uppercase fontNeuron hidden-xs">SEARCH</button>
									</div>
								</div>
							</div>
							<!-- orderRow -->
							<div class="row">
								<div class="col-xs-12">
									<!-- otherFeaturesCollapse -->
									<div class="collapse otherFeaturesCollapse" id="otherFeaturescollapse">
										<!-- checkList -->
										<ul class="list-unstyled checkList text-primary">
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Air conditioning</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cofee pot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fan</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hi-fi</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Balcony</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Computer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fridge</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Internet</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Bedding</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Grill</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Iron</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cable TV</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Dishwasher</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hairdryer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Juicer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cleaning after exit</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">DVD</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Heating</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Lift</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<button type="button" class="btn btnDark text-uppercase fontNeuron">SEARCH</button>
								</div>
							</div>
						</div>
					</form>
					
					<section class="container">
						<!-- contentFiltersHeadingWrap -->
						<header class="contentFiltersHeadingWrap row">
							<div class="col-xs-12 col col-sm-8">
								<!-- breadcrumb -->
								<ol class="breadcrumb breadcrumb1">
									<li><a href="#">Home</a></li>
									<li><a href="#">Properties</a></li>
									<li class="active">Single Properties</li>
								</ol>
								<h1 class="fontNeuron">Villa on Hollywood Boulevard <a href="#" class="btn btnSmall btn-success fontBase">For Sale</a></h1>
								<!-- captionAddress -->
								<address class="captionAddress">
									<span class="icn"><i class="fi flaticon-pin-1"></i></span>
									<p>The Village, Jersey City, NJ 07302, USA</p>
								</address>
							</div>
							<div class="col-xs-12 col-sm-4 justify-end">
								<!-- captionActionsList -->
								<ul class="list-unstyled viewFilterLinks">
									<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
									<li>
										<a href="#">
											<i class="fi flaticon-share"></i>
										</a>
										<!-- postColumnSocial -->
									</li>
									<li><a href="#"><i class="far fa-heart"></i></a></li>
									<li><a href="#"><i class="fi flaticon-printer"></i></a></li>
								</ul>
								<strong class="elemenBlock price fwSemi fontNeuron w100">$ 490,000</strong>
								<strong class="elemenBlock fwNormal fontNeuron subtitle w100">$770 / sq ft</strong>
							</div>
						</header> 
					</section>
					<!-- tabs -->
					<section class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<div class="tabSetholder tabschanges">
		                        	<ul class="list-unstyled tabset">
								        <li class="active">
								            <a href="#tab1-0"><span class="fi flaticon-photo"></span>View Photos</a>
								        </li>
								        <li>
								            <a href="#tab2-0"><span class="fi flaticon-placeholder"></span>Map View</a>
								        </li>
								        <li>
								            <a href="#tab3-0"><span class="fi flaticon-street-view"></span>Street View</a>
								        </li>
								        <li>
								            <a href="#tab3-0"><span class="fi flaticon-360-degrees"></span>360° Virtual Tour</a>
								        </li>
								    </ul>
						    		<div class="tab-content">
								        <div id="tab1-0">
									        <div class="slick-thumbnailslider slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderfull-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<div class="slick-carouselnav slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="#">
															<img src="../../static/userResources/images/tabsliderthumbnail-img01.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
								        </div>
								        <div id="tab2-0">
								        	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d39733.11938503574!2d-0.1627775524531611!3d51.5073456865004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+United+Kingdom!3m2!1d51.5073509!2d-0.1277583!4m0!5e0!3m2!1sen!2s!4v1530281946864" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
								        </div>
						        		<div id="tab3-0">
								        	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d39733.11938503574!2d-0.1627775524531611!3d51.5073456865004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+United+Kingdom!3m2!1d51.5073509!2d-0.1277583!4m0!5e0!3m2!1sen!2s!4v1530281946864" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- twoColumns -->
					<div class="twoColumns container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-8">
								<!-- content -->
								<article id="content">
									<!-- boxPanelBlock -->
									<section id="Detail" class="accountData">
										<div class="head">
											<h2 class="fontNeuron">Detail</h2>
										</div>
										<ul class="listpanel-head">
											<li>Area<span>2100 m2</span></li>
											<li>beds<span>3</span></li>
											<li>baths<span>2</span></li>
											<li>garages<span>1</span></li>
											<li>year butilt<span>2017-06-10</span></li>
										</ul>
										<div class="listpanel-content">
											<ul>
												<li><span>Property ID</span><span class="righttext">: HS5698</span></li>
												<li><span>Garage Size</span><span class="righttext">: 580 SqFt</span></li>
												<li><span>Property Size</span><span class="righttext">: 32890 Sq Ft</span></li>
												<li><span>Deposit</span><span class="righttext">: 20%</span></li>
												<li><span>Pool Size</span><span class="righttext">: 896 Sqft</span></li>
												<li><span>Furniture Status</span><span class="righttext">: Furnished (Furnished)</span></li>
											</ul>
											<ul>
												<li><span>Last remodel year</span><span class="righttext">: 2017</span></li>
												<li><span>Additional Rooms</span><span class="righttext">: Guest Bath</span></li>
												<li><span>Amenities</span><span class="righttext">: Clubhouse</span></li>
												<li><span>Equipment</span><span class="righttext">: Grill - Gas</span></li>
												<li><span>Heating Type</span><span class="righttext">: Combi (Natural Gas)</span></li>
												<li><span>Available for Loan</span><span class="righttext">: Yes</span></li>
											</ul>
										</div>
									</section>
									<section class="accountData">
		                                <div class="head">
		                                  <h4 class="fontNeuron">Description</h4>
		                                </div>
		                            	<p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximusneque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque velit tristique turpis, et iaculis mi tortor finibus turpis.</p>
		                            </section>
		                            <section id="address" class="accountData address">
										<div class="head">
											<h4 class="fontNeuron">Detail</h4>
											<div class="btnArea">
				                              <a href="#" class="btn btn-info"><i class="fi flaticon-pin-1"></i>Open on Google Maps</a>
				                            </div>
										</div>
										<div class="listpanel-content widthauto address paddingzero">
											<ul>
												<li><span>Address</span><span class="righttext">: The Village, Jersey City, NJ 07302, USA</span></li>
												<li><span>Zip/Postal Code</span><span class="righttext">: 07305</span></li>
												<li><span>City</span><span class="righttext">: Chicago</span></li>
												<li><span>Neighborhood</span><span class="righttext">: Hermosa</span></li>
												<li><span>State/county</span><span class="righttext">: New Jersey</span></li>
												<li><span>Country</span><span class="righttext">: United States</span></li>
											</ul>
										</div>
									</section>
									<section class="addProperty amenities margin-zero">
										<div class="formContent">
					                        <form>
					                          <header class="contentHead">
					                            <h2 class="fontNeuron">Amenities</h2>
					                          </header>
					                          <ul class="list-unstyled checkList text-primary">
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Parking/Garage</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Lawn</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Window Coverings</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Barbeque</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset" checked>
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Sauna</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset" checked>
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Swimming Pool</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset" checked>
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Air Conditioning</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset" checked>
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Refrigerator</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Microwave</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Dryer</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Microwave</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Outdoor Shower</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Fireplace</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Balcony/terrace</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck"> 
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">WiFi</span>
					                              </label>
					                            </li>
					                            <li>
					                              <label class="fwNormal customLabelCheck">
					                                <input type="checkbox" class="customFormInputReset">
					                                <span class="fakeCheckbox"></span>
					                                <span class="fakeLabel">Laundry</span>
					                              </label>
					                            </li>
					                          </ul>
					                        </form>
				                    	</div>
				                    </section>
				                    <section class="accountData aboutBlock overlaychange">
		                                <div class="head">
		                                  <h4 class="fontNeuron">Property Video</h4>
		                                </div>
		                            	<div class="video-holder overlay">
											<img src="../../static/userResources/images/video-img.jpg" alt="image description" class="img-responsive">
											<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="true" class="video-play"><i class="fi flaticon-play-button"></i></a>
										</div>
		                            </section>
		                            <section class="accountData floorplan">
		                                <div class="head">
		                                  	<h4 class="fontNeuron">Floor Plans</h4>
		                                  	<div class="btnArea">
				                              <a href="#" class="btn btn-info">First Floor</a>
				                              <a href="#" class="btn btn-lighter">Second Floor</a>
				                            </div>
		                                </div>
		                                <figure>
		                                	<img src="../../static/userResources/images/floorplan-img.jpg" alt="image description">
		                                </figure>
		                                <div class="description">
		                            		<p>Plan description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. lobortis nisl ut aliquip ex ea commodo consequat.</p>
		                            	</div>
		                            </section>
		                            <section class="accountData walkscores">
		                                <div class="head">
		                                  	<h4 class="fontNeuron">Walk Score</h4>
		                                </div>
		                                <div class="walkscores-content">
		                                	<span class="walkscores-reating">
		                                		<i class="reating-round">95</i>
		                                		<span>Walk Scores
		                                			<em>Very Walkable</em>
		                                		</span>
		                                	</span>
		                                	<span class="walkscores-details">
		                                		<img src="../../static/userResources/images/walksore-img.png" alt="image description">
		                                		<a href="#">more details here</a>
		                                	</span>
		                                </div>
		                            </section>
		                            <section class="accountData Pageviews">
		                                <div class="head">
		                                  	<h4 class="fontNeuron">Page Views</h4>
		                                </div>
		                                <figure>
		                                	<img src="../../static/userResources/images/graph-img.png" alt="image description">
		                                </figure>
		                            </section>   
		                            <section class="accountData filesattachment">
		                                <div class="head">
		                                  	<h4 class="fontNeuron">Files Attachment</h4>
		                                </div>
		                                <ul class="filesattachment-list">
		                                	<li><i><img src="../../static/userResources/images/pdf-img.jpg" alt="iamge description"></i>
		                                	Lease Agreement</li>
		                                	<li><i><img src="../../static/userResources/images/pdf-img.jpg" alt="iamge description"></i>
		                                	Brochure</li>
		                                	<li><i><img src="../../static/userResources/images/pdf-img.jpg" alt="iamge description"></i>
		                                	Property Details</li>
		                                </ul>
		                            </section>
		                            <section class="accountData ratingreviews">
		                                <div class="head">
		                                  	<h4 class="fontNeuron">Ratings & Reviews</h4>
		                                  	<div class="btnArea">
				                            	<button type="submit" class="btn btnDark">Write new review</button>
				                          	</div>
		                                </div>
		                                <div class="ratingarea">
		                                	<div class="hb-ratingandskillbar">
			                                	<ul class="hb-ratingbox">
			                                		<li>
			                                			<span class="hb-stars">
															<span></span>
														</span>
														<em>3</em>
			                                		</li>
			                                		<li>
			                                			<span class="hb-stars">
															<span></span>
														</span>
														<em>4</em>
			                                		</li>
			                                		<li>
			                                			<span class="hb-stars">
															<span></span>
														</span>
														<em>3</em>
			                                		</li>
			                                		<li>
			                                			<span class="hb-stars">
															<span></span>
														</span>
														<em>2</em>
			                                		</li>
			                                		<li>
			                                			<span class="hb-stars">
															<span></span>
														</span>
														<em>0</em>
			                                		</li>
			                                	</ul>
			                                	<div id="hb-ourskill" class="hb-ourskill hb-skillgroup">
													<div class="hb-skill">
														<div class="hb-skillholder" data-percent="95%">
														<div class="hb-skillbar"></div>
														</div>
													</div>
													<div class="hb-skill">
														<div class="hb-skillholder" data-percent="80%">
															<div class="hb-skillbar"></div>
														</div>
													</div>
													<div class="hb-skill">
														<div class="hb-skillholder" data-percent="50%">
															<div class="hb-skillbar"></div>
														</div>
													</div>
													<div class="hb-skill">
														<div class="hb-skillholder" data-percent="90%">
															<div class="hb-skillbar"></div>
														</div>
													</div>
													<div class="hb-skill">
														<div class="hb-skillholder" data-percent="0%">
															<div class="hb-skillbar"></div>
														</div>
													</div>
												</div>
											</div>
		                                	<div class="overallrating pull-right">
		                                		<div class="overallratingbox">
		                                			<span class="hb-stars">
														<span></span>
													</span>
													<h3>4.3</h3>
													<em>Overall rating</em>
		                                		</div>
		                                	</div>
		                                </div>
		                                <div class="reviews">
		                                	<h4>3 Reviews</h4>
			                                <ul class="hb-commentlist">
			                                	<li>
													<div class="hb-comment">
														<figure class="hb-author-img">
															<a href="agencies-detail.html"><img src="../../static/userResources/images/comment-img.jpg" alt="image description"></a>
														</figure>
														<div class="hb-comment-box">
															<div class="hb-comment-head">
																<div class="pull-left">
																	<h4>john Milk</h4>
																</div>
																<div class="pull-right">
																	<span class="hb-stars">
																		<span></span>
																	</span>
																	<em>December 25, 2013</em>
																</div>
															</div>
															<div class="description">
																<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="hb-comment">
														<figure class="hb-author-img">
															<a href="agencies-detail.html"><img src="../../static/userResources/images/comment-img.jpg" alt="image description"></a>
														</figure>
														<div class="hb-comment-box">
															<div class="hb-comment-head">
																<div class="pull-left">
																	<h4>Ali Tufan</h4>
																</div>
																<div class="pull-right">
																	<span class="hb-stars">
																		<span></span>
																	</span>
																	<em>December 25, 2013</em>
																</div>
															</div>
															<div class="description">
																<p>Downtown Melissa! Located on a large lot with trees and detached 30×30 workshop-2 car garage, wood burning stove located in shop.</p>
															</div>
														</div>
													</div>
												</li>
												<li>
													<div class="hb-comment">
														<figure class="hb-author-img">
															<a href="agencies-detail.html"><img src="../../static/userResources/images/comment-img.jpg" alt="image description"></a>
														</figure>
														<div class="hb-comment-box">
															<div class="hb-comment-head">
																<div class="pull-left">
																	<h4>Robert Tufan</h4>
																</div>
																<div class="pull-right">
																	<span class="hb-stars">
																		<span></span>
																	</span>
																	<em>December 25, 2013</em>
																</div>
															</div>
															<div class="description">
																<p>New AC, installed in February. Recently painted. New laminate wood floors in Kitchen and Bath. Nice country setting.</p>
															</div>
														</div>
													</div>
												</li>
			                                </ul>	
		                                </div>
		                            </section>
									<section class="accountData contactFormPage">
										<div class="head">
		                                  <h4 class="fontNeuron">Your Reviews</h4>
		                                </div>
										<form>
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<input type="text" placeholder="Your Name" class="form-control">
													</div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<input type="email" placeholder="Email" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<input type="tel" placeholder="Phone Number" class="form-control">
													</div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<input type="url" placeholder="Website" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<textarea class="form-control" placeholder="Message"></textarea>
											</div>
											<div class="form-group">
												<span>your rating: </span>
												<span class="hb-stars">
													<span></span>
												</span>
											</div>
											<button type="submit" class="btn btnDark fontNeuron buttonXL">Submit</button>
										</form>
									</section>
								</article>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4">
								<aside id="sidebar">
									<!-- contactFormPage -->
									<section class="contactFormPage widget">
										<div class="hb-headarea">
											<div class="holder">
												<figure class="hb-author-img pull-left">
													<a href="#"><img src="../../static/userResources/images/comment-img.jpg" alt="image description"></a>
												</figure>
												<div class="pull-left">
													<div class="hb-headcontent">
														<h3>Bostan Homes</h3>
														<span>Ali Tufan</span>
														<a href="#">View Listings</a>
													</div>
												</div>
											</div>
											<div class="hb-numberbox text-center">
												<h3><i class="fi flaticon-24-hours"></i>+1 246 345 0695</h3>
											</div>
										</div>
										<form class="widgetCalcForm">
											<div class="row">
												<div class="col-xs-12">
													<div class="form-group">
														<input type="text" placeholder="Your Name" class="form-control">
													</div>
												</div>
												<div class="col-xs-12">
													<div class="form-group">
														<input type="tel" placeholder="Phone" class="form-control">
													</div>
												</div>
												<div class="col-xs-12">
													<div class="form-group">
														<input type="email" placeholder="Email" class="form-control">
													</div>
												</div>
											</div>
											<div class="form-group">
												<textarea class="form-control" placeholder="Hi Jennie Wilson, I saw your profile on LemanHouse and wanted to see if you could help me"></textarea>
											</div>
											<button type="submit" class="btn btnDark fontNeuron buttonXL">Submit</button>
										</form>
									</section>
									<!-- widgetCalc -->
									<section class="widget widgetPadding widgetCalc bgWhite">
										<h3 class="fontNeuron fwBold text-capitalize">Mortgage Calculator</h3>
										<!-- widgetCalcForm -->
										<form action="#" class="widgetCalcForm">
											<div class="form-group">
												<span class="icnInput small fas fa-dollar-sign"></span>
												<input type="text" class="form-control elemenBlock" placeholder="Property price">
											</div>
											<div class="form-group">
												<span class="icnInput small fas fa-dollar-sign"></span>
												<input type="text" class="form-control elemenBlock" placeholder="Deposit">
											</div>
											<div class="form-group">
												<span class="icnInput small fas fa-percent"></span>
												<input type="text" class="form-control elemenBlock" placeholder="Annual Interest">
											</div>
											<div class="form-group">
												<span class="icnInput small far fa-calendar-alt"></span>
												<input type="text" class="form-control elemenBlock" placeholder="Years">
											</div>
											<button type="submit" class="elemenBlock btn btnSecondary fontNeuron text-uppercase">CALCULATE</button>
											<p><span class="text-primary elemenBlock text-center textCount">Monthly Payment: $969.04</span></p>
										</form>
									</section>
									<!-- widgetRecentPosts -->
									<section class="widget widgetPadding widgetRecentPosts bgWhite">
										<h3 class="fontNeuron fwBold text-capitalize">Recent Properties</h3>
										<!-- widgetRecentPostsList -->
										<ul class="list-unstyled widgetRecentPostsList padlReset">
											<li>
												<div class="alignleft">
													<a href="properties-single1.html"><img src="../../static/userResources/images/img29.jpg" alt="image description"></a>
												</div>
												<div class="descrWrap">
													<h4 class="fontNeuron fwBold"><a href="properties-single1.html">Villa on Hollywood</a></h4>
													<strong class="price elemenBlock fwSemi fontNeuron">$ 920,000</strong>
													<p>778 Country St. Panama City, FL</p>
												</div>
											</li>
											<li>
												<div class="alignleft">
													<a href="properties-single1.html"><img src="../../static/userResources/images/img29.jpg" alt="image description"></a>
												</div>
												<div class="descrWrap">
													<h4 class="fontNeuron fwBold"><a href="properties-single1.html">4 Bedroom New House</a></h4>
													<strong class="price elemenBlock fwSemi fontNeuron">$ 467,000</strong>
													<p>London, United Kingdom</p>
												</div>
											</li>
											<li>
												<div class="alignleft">
													<a href="properties-single1.html"><img src="../../static/userResources/images/img30.jpg" alt="image description"></a>
												</div>
												<div class="descrWrap">
													<h4 class="fontNeuron fwBold"><a href="properties-single1.html">Eagle Apartments</a></h4>
													<strong class="price elemenBlock fwSemi fontNeuron">$ 467,000</strong>
													<p>9364 School St. Lynchburg, NY</p>
												</div>
											</li>
										</ul>
									</section>
								</aside>
							</div>
							<div class="col-xs-12">
								<header class="rowHead">
									<h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">SMILAR</span> <span class="textSecondary">PROPERTIES</span></h1>
								</header>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col isoCol sale">
								<!-- postColumn -->
								<article class="postColumn hasOver bgWhite">
									<div class="aligncenter">
										<!-- postColumnImageSlider -->
										<div class="slick-carousel slickSlider postColumnImageSlider">
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img04.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img04.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img04.jpg" alt="image description">
													</a>
												</div>
											</div>
										</div>
										<!-- postHoverLinskList -->
										<ul class="list-unstyled postHoverLinskList">
											<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
											<li class="hasOver">
												<a href="#"><i class="fi flaticon-share"></i></a>
												<!-- postColumnSocial -->
												<ul class="list-unstyled socialNetworks postColumnSocial">
													<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#"><i class="fab fa-instagram"></i></a></li>
													<li><a href="#"><i class="fab fa-google"></i></a></li>
												</ul>
											</li>
										</ul>
										<!-- linkToFavourite -->
										<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
									</div>
									<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Luxury Family Home</a></h2>
									<address>
										<span class="icn"><i class="fi flaticon-pin-1"></i></span>
										<p>The Village, Jersey City, NJ 07302, USA </p>
									</address>
									<span class="btn btnSmall btn-success text-capitalize">For Sale</span>
									<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 490,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
									<!-- postColumnFoot -->
									<footer class="postColumnFoot">
										<ul class="list-unstyled">
											<li>
												<strong class="fwNormal elemenBlock text-primary">Area</strong>
												<strong class="fwNormal elemenBlock">2100 m2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Beds</strong>
												<strong class="fwNormal elemenBlock">3</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Baths</strong>
												<strong class="fwNormal elemenBlock">2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Garages</strong>
												<strong class="fwNormal elemenBlock">1</strong>
											</li>
										</ul>
									</footer>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col isoCol rent">
								<!-- postColumn -->
								<article class="postColumn hasOver bgWhite">
									<div class="aligncenter">
										<!-- postColumnImageSlider -->
										<div class="slick-carousel slickSlider postColumnImageSlider">
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img05.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img05.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img05.jpg" alt="image description">
													</a>
												</div>
											</div>
										</div>
										<!-- postHoverLinskList -->
										<ul class="list-unstyled postHoverLinskList">
											<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
											<li class="hasOver">
												<a href="#"><i class="fi flaticon-share"></i></a>
												<!-- postColumnSocial -->
												<ul class="list-unstyled socialNetworks postColumnSocial">
													<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#"><i class="fab fa-instagram"></i></a></li>
													<li><a href="#"><i class="fab fa-google"></i></a></li>
												</ul>
											</li>
										</ul>
										<!-- linkToFavourite -->
										<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
									</div>
									<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Meridian Villas</a></h2>
									<address>
										<span class="icn"><i class="fi flaticon-pin-1"></i></span>
										<p>London, United Kingdom</p>
									</address>
									<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
									<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 920,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
									<!-- postColumnFoot -->
									<footer class="postColumnFoot">
										<ul class="list-unstyled">
											<li>
												<strong class="fwNormal elemenBlock text-primary">Area</strong>
												<strong class="fwNormal elemenBlock">2100 m2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Beds</strong>
												<strong class="fwNormal elemenBlock">3</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Baths</strong>
												<strong class="fwNormal elemenBlock">2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Garages</strong>
												<strong class="fwNormal elemenBlock">1</strong>
											</li>
										</ul>
									</footer>
								</article>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col isoCol rent">
								<!-- postColumn -->
								<article class="postColumn hasOver bgWhite">
									<div class="aligncenter">
										<!-- postColumnImageSlider -->
										<div class="slick-carousel slickSlider postColumnImageSlider">
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img07.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img05.jpg" alt="image description">
													</a>
												</div>
											</div>
											<div>
												<div class="imgHolder">
													<a href="properties-single1.html">
														<img src="../../static/userResources/images/img07.jpg" alt="image description">
													</a>
												</div>
											</div>
										</div>
										<!-- postHoverLinskList -->
										<ul class="list-unstyled postHoverLinskList">
											<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
											<li class="hasOver">
												<a href="#"><i class="fi flaticon-share"></i></a>
												<!-- postColumnSocial -->
												<ul class="list-unstyled socialNetworks postColumnSocial">
													<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#"><i class="fab fa-instagram"></i></a></li>
													<li><a href="#"><i class="fab fa-google"></i></a></li>
												</ul>
											</li>
										</ul>
										<!-- linkToFavourite -->
										<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
									</div>
									<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Elegant studio flat</a></h2>
									<address>
										<span class="icn"><i class="fi flaticon-pin-1"></i></span>
										<p>The Village, Jersey City, NJ 07302, USA</p>
									</address>
									<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
									<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 490,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
									<!-- postColumnFoot -->
									<footer class="postColumnFoot">
										<ul class="list-unstyled">
											<li>
												<strong class="fwNormal elemenBlock text-primary">Area</strong>
												<strong class="fwNormal elemenBlock">2100 m2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Beds</strong>
												<strong class="fwNormal elemenBlock">3</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Baths</strong>
												<strong class="fwNormal elemenBlock">2</strong>
											</li>
											<li>
												<strong class="fwNormal elemenBlock text-primary">Garages</strong>
												<strong class="fwNormal elemenBlock">1</strong>
											</li>
										</ul>
									</footer>
								</article>
							</div>
						</div>
					</div>
				</main>
			</div>
			<!-- pageFooterBlock -->
			{% include 'user/footer.html' %}
		</div>
		<!-- pagePopupWrap -->
		<div class="popup-holder">
			<div id="popup1" class="lightbox-demo">
				<!-- popupLoginFrom -->
				<form action="#" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
					<ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
						<li class="active"><a href="#tab01">LOGIN</a></li>
						<li><a href="#tab02">REGISTER</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab01" class="tab-active">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Namer">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset">
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">Remember me</span>
										</label>
									</div>
									<button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
									<a href="#" class="linkForget">Forgot Password?</a>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
						<div id="tab02">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Name">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<input type="email" class="form-control elemenBlock" placeholder="Email Address">
									</div>
									<div class="form-group">
										<select data-placeholder="Type" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset" checked>
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">I have read and agree to the Term of Service.</span>
										</label>
									</div>
									<button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- include jQuery library -->
	<script src="../../static/userResources/js/jquery.js"></script>
	<script src="../../static/userResources/js/plugins.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="../../static/userResources/js/jquery.main.js"></script>
	<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>