<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>LemanHouse - Real Estate HTML Template</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/fancybox.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageMenuPushWrap -->
		<div class="pageMenuPushWrap pageMenuPushWrap1">
			<!-- bgBaseWrap -->
			<div class="bgBaseWrap">
				<!-- pageHeader -->
				<header id="pageHeader" class="bgWhite offsetBottom">
					<!-- pageHeaderWrap -->
					<div class="pageHeaderWrap">
						<!-- headerTopBar -->
						<div class="bgLightDark headerTopBar textLightDark">
							<div class="container">
								<div class="row">
									<div class="col-xs-6 col-sm-4">
										<time datetime="2011-01-12" class="TopBarTime">Mon - Sat: 08.00 AM - 18.00 PM</time>
									</div>
									<div class="col-xs-6 col-sm-8 text-right">
										<!-- topBarPanelList -->
										<ul class="list-unstyled topBarPanelList">
											<li class="hidden-xs">
												<!-- topBarPanelListSocial -->
												<ul class="list-unstyled socialNetworks topBarPanelListSocial">
													<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#"><i class="fab fa-instagram"></i></a></li>
													<li><a href="#"><i class="fab fa-google"></i></a></li>
												</ul>
											</li>
											<li>
												<!-- topBarPanelListDropdown -->
												<div class="dropdown topBarPanelListDropdown">
													<button class="dropdown-toggle buttonReset" type="button" id="dropdownDol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD ($)<span class="caret"></span></button>
													<!-- dropdownDol -->
													<ul class="dropdown-menu" aria-labelledby="dropdownDol">
														<li><a href="#">USD</a></li>
														<li><a href="#">EURO</a></li>
														<li><a href="#">YTL</a></li>
													</ul>
												</div>
											</li>
											<li>
												<!-- topBarPanelListDropdown -->
												<div class="dropdown topBarPanelListDropdown">
													<button class="dropdown-toggle buttonReset" type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English<span class="caret"></span></button>
													<!-- dropdownLang -->
													<ul class="dropdown-menu" aria-labelledby="dropdownLang">
														<li><a href="#">English</a></li>
														<li><a href="#">Turkish</a></li>
														<li><a href="#">French</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<!-- headerHolder -->
							<div class="headerHolder">
								<div class="row">
									<div class="col-xs-6 col-sm-3">
										<!-- logo -->
										<div class="logo"><a href="home.html"><img src="../../static/userResources/images/logo.png" alt="LemanHouse"></a></div>
									</div>
									<div class="col-xs-6 col-sm-9 d-flex">
										<!-- headerContactList -->
										<ul class="list-unstyled headerContactList">
											<li>
												<a href="tel:+12463450695" class="icn icnBubble noShrink text-info"><i class="fi flaticon-24-hours"></i></a>
												<div class="descr hidden-xs">
													<strong class="fwNormal elemenBlock text"><a href="tel:+12463450695">+1 246-345-0695</a></strong>
													<strong class="fwNormal elemenBlock text"><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;</a></strong>
												</div>
											</li>
											<li class="hidden-xs">
												<span class="icn icnJumping text-info noShrink"><i class="fi flaticon-pin-1"></i></span>
												<div class="descr">
													<strong class="fwNormal elemenBlock text">PO Box 16122 Collins Street West <br>Victoria 8007 Australia</strong>
												</div>
											</li>
										</ul>
										<!-- headerSearchForm -->
										<form action="#" class="headerSearchForm">
											<a class="headerSearchOpener roundedCircle bgWhite" role="button" data-toggle="collapse" href="#headerSearchFormcollapse" aria-expanded="false" aria-controls="headerSearchFormcollapse"><i class="fi flaticon-search btnOpen"></i><i class="fas fa-times btnClose"></i></a>
											<!-- headerSearchFormcollapse -->
											<div class="collapse searchFormcollapse bgWhite" id="headerSearchFormcollapse" aria-expanded="false" role="form">
												<div class="form-group form-group-lg">
													<label for="s" class="labelIcn"><i class="fi flaticon-search"></i></label>
													<input type="search" id="s" class="form-control elemenBlock" placeholder="Search&hellip;">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- pageNav -->
							<nav id="pageNav" class="navbar navbar-default pageNav1">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header hidden-sm hidden-md hidden-lg">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!-- navbar collapse -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<div class="navigation-wrapper">
										<strong class="h elemenBlock h4 textWhite text-center hidden-sm hidden-md hidden-lg menuTitle fontNeuron" id="menu-title">Menu</strong>
										<!-- pageMainNav -->
										<ul class="nav navbar-nav pageMainNav pageMainNav1">
											<li class="active dropdown">
												<a href="#" class="dropdown-toggle">Home<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="home.html">Homepage 1</a></li>
															<li><a href="home2.html">Homepage 2</a></li>
															<li><a href="home3.html">Homepage 3</a></li>
															<li><a href="home4.html">Homepage 4</a></li>
															<li><a href="home5.html">Homepage 5</a></li>
															<li><a href="home6.html">Homepage 6</a></li>
														</ul>
													</div>
												</div>
											</li>
											<!-- remove dropdownFull class when its just regular dropdown -->
											<li class="dropdown dropdownFull">
												<a href="#" class="dropdown-toggle">Properties <span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1 pageMainNavDropdownFull pageMainNavDropdownFull1">
															<li>
																<div class="dropdownColumnsHolder">
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Properties</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="properties-grid.html">Properties Grid</a></li>
																			<li><a href="properties-list.html">Properties List</a></li>
																			<li><a href="properties-map-grid.html">Properties Map Grid</a></li>
																			<li><a href="properties-map-list.html">Properties Map List</a></li>
																			<li><a href="properties-grid-left-search.html">Properties Grid Left</a></li>
																			<li><a href="properties-half-map-grid.html">Properties Half Map Grid</a></li>
																			<li><a href="properties-half-map-list.html">Properties Half Map List</a></li>
																			<li><a href="properties-full-width-list.html">Properties Full Width List</a></li>
																			<li><a href="properties-full-width-grid.html">Properties Full Width Grid</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Properties Single</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="properties-single1.html">Properties Single 1</a></li>
																			<li><a href="properties-single2.html">Properties Single 2</a></li>
																			<li><a href="properties-single3.html">Properties Single 3</a></li>
																			<li><a href="properties-single4.html">Properties Single 4</a></li>
																			<li><a href="properties-single5.html">Properties Single 5</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">New Properties</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="add-step-01.html">Add step 01</a></li>
																			<li><a href="add-step-02.html">Add step 02</a></li>
																			<li><a href="add-step-03.html">Add step 03</a></li>
																			<li><a href="add-step-04.html">Add step 04</a></li>
																			<li><a href="add-step-05.html">Add step 05</a></li>
																		</ul>
																	</div>
																	<div class="dropdownCol">
																		<strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs">Other Pages</strong>
																		<ul class="list-unstyled dropdownColList">
																			<li><a href="user-profile.html">User Profile</a></li>
																			<li><a href="my-properties.html">My Properties</a></li>
																			<li><a href="favourite-properties.html">Favourite Properties</a></li>
																			<li><a href="membership.html">Membership</a></li>
																			<li><a href="properties-faqs.html">Properties Faqs</a></li>
																		</ul>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle">Pages<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="404.html">404</a></li>
															<li><a href="about.html">About</a></li>
															<li><a href="agencies.html">Agencies</a></li>
															<li><a href="agencies-detail.html">Agencies detail</a></li>
															<li><a href="agent.html">Agent</a></li>
															<li><a href="agent-detail.html">Agent detail</a></li>
														</ul>
													</div>
												</div>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle">Blog<span class="caret"></span></a>
												<div class="frame-wrap">
													<div class="frame">
														<ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown1">
															<li><a href="blog.html">Blog</a></li>
															<li><a href="blog-detail.html">Blog detail</a></li>
															<li><a href="blog-list.html">Blog list</a></li>
															<li><a href="blog-full-width.html">Blog full width</a></li>
															<li><a href="blog-list-full-width.html">Blog list full width</a></li>
														</ul>
													</div>
												</div>
											</li>
											<li>
												<a href="contact.html">Contact</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- userOptions -->
								<div class="userOptions">
									<!-- UserLinksList -->
									<ul class="list-unstyled UserLinksList">
										<li>
											<a href="#popup1" class="lightbox">
												<i class="fi flaticon-social icn"></i>
												<strong class="text fwNormal hidden-xs hidden-sm">Login</strong>
											</a>
										</li>
										<li>
											<a href="#popup1" class="lightbox">
												<i class="fi flaticon-edit icn"></i>
												<strong class="text fwNormal hidden-xs hidden-sm">Register</strong>
											</a>
										</li>
									</ul>
									<!-- headerModalOpener -->
									<a href="#" class="headerModalOpener text-uppercase fontNeuron fwBold"><i class="openerIcon"></i> Submit Property</a>
								</div>
							</nav>
						</div>
					</div>
				</header>
				<!-- main -->
				<main>
					<!-- findFormBlock -->
					<form action="#" class="findFormBlock findFormBlock2 bgLightDark hasShadowTop offsetHeaderTop">
						<div class="container">
							<div class="row align-center d-flex">
								<div class="col-xs-12 col-sm-5 col-md-4 col-lg-5">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="Enter address e.g. street, city and state or zip">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<div class="form-group">
										<i class="fi flaticon-target icnInput"></i>
										<input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="All Cities">
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2">
									<div class="form-group">
										<select data-placeholder="All Areas" class="chosen-select noBdr sizeMedium">
											<option value="1">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
											<option value="2">All Areas</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 col-lg-3">
									<div class="btnsWrap">
										<!-- otherFeaturesOpener -->
										<a class="btnPlus otherFeaturesOpener text-capitalize noTopBottom" role="button" data-toggle="collapse" href="#otherFeaturescollapse" aria-expanded="false" aria-controls="otherFeaturescollapse">
											<i class="fas btnIcn fa-plus-circle text-info opener"></i>
											<i class="fas fa-minus-circle closer btnIcn text-info"></i>
											Advanced
										</a>
										<button type="button" class="btn btnDark buttonSmall text-uppercase fontNeuron hidden-xs">SEARCH</button>
									</div>
								</div>
							</div>
							<!-- orderRow -->
							<div class="row">
								<div class="col-xs-12">
									<!-- otherFeaturesCollapse -->
									<div class="collapse otherFeaturesCollapse" id="otherFeaturescollapse">
										<!-- checkList -->
										<ul class="list-unstyled checkList text-primary">
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Air conditioning</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cofee pot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fan</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hi-fi</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Balcony</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Computer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Fridge</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Internet</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Bedding</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cot</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Grill</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Iron</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cable TV</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Dishwasher</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Hairdryer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Juicer</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Cleaning after exit</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">DVD</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Heating</span>
												</label>
											</li>
											<li>
												<label class="fwNormal customLabelCheck">
													<input type="checkbox" class="customFormInputReset">
													<span class="fakeCheckbox"></span>
													<span class="fakeLabel">Lift</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<button type="button" class="btn btnDark text-uppercase fontNeuron">SEARCH</button>
								</div>
							</div>
						</div>
					</form>
					<!-- content -->
					<section id="content" class="container pabIndent">
						<!-- contentFiltersHeadingWrap -->
						<header class="contentFiltersHeadingWrap row">
							<div class="col-xs-12 col-sm-10">
								<!-- breadcrumb -->
								<ol class="breadcrumb breadcrumb1">
									<li><a href="#">Home</a></li>
									<li><a href="#">Properties</a></li>
									<li class="active">Listing Grid View</li>
								</ol>
								<h1 class="fontNeuron">Listing Grid</h1>
							</div>
							<div class="col-xs-12 col-sm-2">
								<!-- viewFilterLinks -->
								<ul class="list-unstyled viewFilterLinks">
									<li class="active"><a href="#"><i class="fas fa-th-large"></i></a></li>
									<li><a href="#"><i class="fas fa-list"></i></a></li>
								</ul>
							</div>
						</header>
						<header class="row rowHead rowHead2">
							<div class="col-xs-12 col-md-8">
								<!-- postsFiltersList -->
								<ul class="list-unstyled postsFiltersList postsFiltersList2 text-capitalize text-center isoFiltersList">
									<li class="active"><a href="#">All</a></li>
									<li><a href="#" data-filter=".rent">For Rent</a></li>
									<li><a href="#" data-filter=".sale">For Sale</a></li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-4">
								<!-- sortGroup -->
								<div class="sortGroup">
									<strong class="groupTitle fwNormal">Sort by:</strong>
									<div class="dropdown">
										<button class="dropdown-toggle buttonReset" type="button" id="sortGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default Order <i class="icn fas fa-chevron-down"></i></button>
										<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sortGroup">
											<li><a href="#">Default Order</a></li>
											<li><a href="#">Default Order</a></li>
											<li><a href="#">Default Order</a></li>
											<li><a href="#">Default Order</a></li>
										</ul>
									</div>
								</div>
							</div>
						</header>
						<!-- isoContentHolder -->
						<div class="isoContentHolder">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol sale">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img04.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img04.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img04.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Luxury Family Home</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>The Village, Jersey City, NJ 07302, USA </p>
										</address>
										<span class="btn btnSmall btn-success text-capitalize">For Sale</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 490,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol rent">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Meridian Villas</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 920,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol rent">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img07.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img07.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Elegant studio flat</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>The Village, Jersey City, NJ 07302, USA</p>
										</address>
										<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 490,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol rent">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img08.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img08.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Full Floor Office Condo</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>London, United Kingdom</p>
										</address>
										<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 920,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol rent">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img06.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img06.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">4 Bedroom New House For Sale</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>778 Country St. Panama City, FL</p>
										</address>
										<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 250,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
								<div class="col-xs-12 col-sm-6 col col-md-4 col isoCol rent">
									<!-- postColumn -->
									<article class="postColumn hasOver bgWhite">
										<div class="aligncenter">
											<!-- postColumnImageSlider -->
											<div class="slick-carousel slickSlider postColumnImageSlider">
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img09.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img05.jpg" alt="image description">
														</a>
													</div>
												</div>
												<div>
													<div class="imgHolder">
														<a href="properties-single1.html">
															<img src="../../static/userResources/images/img09.jpg" alt="image description">
														</a>
													</div>
												</div>
											</div>
											<!-- postHoverLinskList -->
											<ul class="list-unstyled postHoverLinskList">
												<li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
												<li class="hasOver">
													<a href="#"><i class="fi flaticon-share"></i></a>
													<!-- postColumnSocial -->
													<ul class="list-unstyled socialNetworks postColumnSocial">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-instagram"></i></a></li>
														<li><a href="#"><i class="fab fa-google"></i></a></li>
													</ul>
												</li>
											</ul>
											<!-- linkToFavourite -->
											<a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
										</div>
										<h2 class="fontNeuron text-capitalize"><a href="properties-single1.html">Villa on Hollywood Boulevard</a></h2>
										<address>
											<span class="icn"><i class="fi flaticon-pin-1"></i></span>
											<p>778 Country St. Panama City, FL</p>
										</address>
										<span class="btn btnSmall btn-info text-capitalize">For Rent</span>
										<h3 class="fontNeuron fwSemi"><span class="textSecondary">$ 320,000</span> <span class="textUnit fwNormal">/ monthly</span></h3>
										<!-- postColumnFoot -->
										<footer class="postColumnFoot">
											<ul class="list-unstyled">
												<li>
													<strong class="fwNormal elemenBlock text-primary">Area</strong>
													<strong class="fwNormal elemenBlock">2100 m2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Beds</strong>
													<strong class="fwNormal elemenBlock">3</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Baths</strong>
													<strong class="fwNormal elemenBlock">2</strong>
												</li>
												<li>
													<strong class="fwNormal elemenBlock text-primary">Garages</strong>
													<strong class="fwNormal elemenBlock">1</strong>
												</li>
											</ul>
										</footer>
									</article>
								</div>
							</div>
						</div>
						<!-- navigation pagination -->
						<nav class="navigation pagination pagination1 fontNeuron" role="navigation">
							<div class="nav-links">
								<a class="prev page-numbers" href="#">Previous</a>
								<a class="page-numbers" href="#">1</a>
								<span class="page-numbers current">2</span>
								<a class="page-numbers" href="#">3</a>
								<span class="page-numbers dots">&hellip;</span>
								<a class="page-numbers" href="#">22</a>
								<a class="next page-numbers" href="#">Next</a>
							</div>
						</nav>
					</section>
				</main>
			</div>
			<!-- pageFooterBlock -->
			<div class="pageFooterBlock">
				<!-- pageAside -->
				<aside class="pageAside textWhite">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col">
								<h2 class="fontNeuron fwSemi text-uppercase">LemanHouse</h2>
								<p>Lorem ipsum dolor amet, consectetur adipiscing elit. Sed ut purus eget nunc ut dignissim cursus.</p>
								<address>
									<dl>
										<dt><i class="fi flaticon-navigation"></i></dt>
										<dd>Collins Street West, Victoria 8007, Australia.</dd>
										<dt><i class="fi flaticon-24-hours"></i></dt>
										<dd><a href="tel:+12463450695">+1 246-345-0695</a></dd>
										<dt><i class="fi flaticon-mail"></i></dt>
										<dd><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;</a></dd>
									</dl>
								</address>
							</div>
							<!-- ftNav -->
							<nav class="col-xs-12 ftNav col-sm-4 col">
								<h2 class="fontNeuron fwSemi text-uppercase">Useful Links</h2>
								<div class="ftNavListsHolder">
									<ul class="list-unstyled">
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">About US</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Contact Support</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">FAQs</a></li>
									</ul>
									<ul class="list-unstyled">
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Our Agents</a></li>
										<li><a href="#">How It Works</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</nav>
							<div class="col-xs-12 col-sm-4 col">
								<h2 class="fontNeuron fwSemi text-uppercase">LATEST PROPERTIES</h2>
								<!-- postsWidgetList -->
								<ul class="list-unstyled postsWidgetList">
									<li>
										<div class="alignleft">
											<a href="blog-detail.html">
												<img src="../../static/userResources/images/img22.jpg" alt="image description">
											</a>
										</div>
										<div class="descrWrap">
											<h3 class="fwNormal"><a href="blog-detail.html">Do what you love and tomorrow will pay</a></h3>
											<h4 class="fwSemi">$ 1,27,000</h4>
										</div>
									</li>
									<li>
										<div class="alignleft">
											<a href="blog-detail.html">
												<img src="../../static/userResources/images/img23.jpg" alt="image description">
											</a>
										</div>
										<div class="descrWrap">
											<h3 class="fwNormal"><a href="blog-detail.html">We’re ready for the TRID rules!</a></h3>
											<h4 class="fwSemi">$ 527,000</h4>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</aside>
				<!-- pageFooter -->
				<footer id="pageFooter">
					<div class="container pageFooterHolder">
						<div class="row">
							<div class="col-xs-12 col-sm-push-6 col-sm-6">
								<!-- pageFooterSocial -->
								<ul class="socialNetworks list-unstyled pageFooterSocial">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fab fa-google"></i></a></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-pull-6 col-sm-6">
								<p>2018 <a href="#">LemanHouse</a> - All rights reserved</p>
							</div>
						</div>
					</div>
				</footer>
				<!-- btnScrollToTop -->
				<a href="#pageWrapper" class="btnScrollToTop smooth textWhite">Scroll Top <i class="fi flaticon-arrows btnScrollIcn"></i></a>
				<span class="bgCover elemenBlock" style="background-image: url(../../static/userResources/images/img21.jpg);"></span>
			</div>
		</div>
		<!-- pagePopupWrap -->
		<div class="popup-holder">
			<div id="popup1" class="lightbox-demo">
				<!-- popupLoginFrom -->
				<form action="#" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
					<ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
						<li class="active"><a href="#tab01">LOGIN</a></li>
						<li><a href="#tab02">REGISTER</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab01" class="tab-active">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Namer">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset">
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">Remember me</span>
										</label>
									</div>
									<button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
									<a href="#" class="linkForget">Forgot Password?</a>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
						<div id="tab02">
							<div class="popupColsHolder">
								<div class="col bgWhite">
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control elemenBlock" placeholder="User Name">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" class="form-control elemenBlock" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<input type="email" class="form-control elemenBlock" placeholder="Email Address">
									</div>
									<div class="form-group">
										<select data-placeholder="Type" class="chosen-select">
											<option value="1">For Rent</option>
											<option value="2">For Sale</option>
											<option value="3">House</option>
											<option value="4">Property</option>
											<option value="5">Real Estate</option>
										</select>
									</div>
									<div class="form-group">
										<label class="fwNormal customLabelCheck">
											<input type="checkbox" class="customFormInputReset" checked>
											<span class="fakeCheckbox"></span>
											<span class="fakeLabel">I have read and agree to the Term of Service.</span>
										</label>
									</div>
									<button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
								</div>
								<div class="col">
									<p>You Can Login using your facebook Profile or Google account</p>
									<button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
									<button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
									<button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- include jQuery library -->
	<script src="../../static/userResources/js/jquery.js"></script>
	<script src="../../static/userResources/js/plugins.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="../../static/userResources/js/jquery.main.js"></script>
	<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>