<!DOCTYPE html>
<html>
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the page title -->
    <title>LemanHouse - Real Estate HTML Template</title>
    <!-- include google roboto font cdn link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../../static/userResources/css/style.css">

</head>
<body>
<!-- pageWrapper -->
<div id="pageWrapper">
    <!-- pageMenuPushWrap -->
    <div class="pageMenuPushWrap pageMenuPushWrap1">
        <!-- bgBaseWrap -->
        <div class="bgBaseWrap">
            <!-- pageHeader -->
            <header id="pageHeader" class="bgWhite shadow">
                <!-- pageHeaderWrap -->
                <div class="pageHeaderWrap">
                    <!-- headerTopBar -->
                    <div class="container">
                        <!-- headerHolder -->
                        <div class="headerHolder">
                            <!-- logo -->
                            <div class="logo logoCentered"><a href="{{ url_for('home') }}"><img
                                    src="../../static/userResources/images/logo.png" alt="LemanHouse"></a></div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- main -->
            <main>
                <!-- content -->
                <section id="content" class="container pEqual">
                    <div class="addProperty">
                        <h1 class="fontNeuron">Add New Property</h1>
                        <ol class="navSteps">
                            <li class="current">
                                <a href="#">
                                    <span class="text">Basic Info</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Location</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Property Details</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Pricing</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Photos &amp; EPC</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span class="text">Amenities</span>
                                </a>
                            </li>
                        </ol>
                        <div class="formContent">
                            <form action="/insertPropertyBasicDetails" method="post">
                                <header class="contentHead">
                                    <h3 class="fontNeuron">Basic Info</h3>
                                    {#                            <div class="btnArea">#}
                                    {#                              <a href="#" class="btn btn-info">Next <i class="fi flaticon-arrows"></i></a>#}
                                    {#                            </div>#}
                                </header>
                                <div class="row">


                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="itemN-24"> You Are :
                                                <input type="radio" name="propertyOwnerType" value="owner" required>owner
                                                <input type="radio" name="propertyOwnerType" value="dealer">dealer
                                                <input type="radio" name="propertyOwnerType" value="builder">builder
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="itemN-24">List Property For : </label>
                                            <select name="propertyListFor" data-placeholder="Select Option" class="chosen-select" id="itemN-24" required>
                                                <option value="sell">Sell</option>
                                                <option value="rent">Rent</option>
                                            </select>
                                        </div>
                                    </div>
{#                                <input type="radio" name="propertyCategoryId" value="{{ i.propertyCategoryId }}" required>#}

                                    <div class="col-xs-12">
                                        <label for="itemN-24 ">Property Type : </label>
                                        <ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
                                            {% for i in propertyCategoryDict %}
                                                <li><a href="#{{ i.propertyCategoryName }}">{{ i.propertyCategoryName }} </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="tab-content ">
                                            {% for i in propertyCategoryDict %}
                                                <div id="{{ i.propertyCategoryName }}">
                                                    <div class="popupColsHolder">
                                                        <div class="col">
                                                            {% for j in propertySubcategoryDict %}
                                                                {% if j.propertySubcategory_PropertyCategoryId == i.propertyCategoryId %}
                                                                    <input type="radio" name="property_PropertySubcategoryId"
                                                                           value="{{ j.propertySubcategoryId }}" required>
                                                                    {{ j.propertySubcategoryName }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="btnArea">
                                            <button type="submit" class="btn btnDark">Next <i class="fi flaticon-arrows"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                {#                            <div class="col-xs-12">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-15">Property Title*</label>#}
                {#                                <input type="text" class="form-control" placeholder="House" id="itemN-15">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-16">Price</label>#}
                {#                                <input type="text" class="form-control" placeholder="$158" id="itemN-16">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-17">Price Postfix</label>#}
                {#                                <input type="text" class="form-control" placeholder="" id="itemN-17">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-4">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-18">Bedrooms</label>#}
                {#                                <input type="number" class="form-control" placeholder="5" min="0" max="9999" id="itemN-18">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-4">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-19">Bathrooms</label>#}
                {#                                <input type="number" class="form-control" placeholder="3" min="0" max="9999" id="itemN-19">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-4">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-20">Garages</label>#}
                {#                                <input type="number" class="form-control" placeholder="8" min="0" max="9999" id="itemN-20">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-21">Area</label>#}
                {#                                <input type="text" class="form-control" placeholder="1500" id="itemN-21">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-22">Area Postfix</label>#}
                {#                                <input type="text" class="form-control" placeholder="" id="itemN-22">#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-23">Property Type</label>#}
                {#                                <select data-placeholder="Select Option" class="chosen-select" id="itemN-23">#}
                {#                                  <option value="1">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                </select>#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12 col-sm-6">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-24">Property Status</label>#}
                {#                                <select data-placeholder="Select Option" class="chosen-select" id="itemN-24">#}
                {#                                  <option value="1">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                  <option value="2">All Areas</option>#}
                {#                                </select>#}
                {#                              </div>#}
                {#                            </div>#}
                {#                            <div class="col-xs-12">#}
                {#                              <div class="form-group">#}
                {#                                <label for="itemN-25">Description</label>#}
                {#                                <textarea class="form-control" id="itemN-25" placeholder=""></textarea>#}
                {#                              </div>#}
                {#                            </div>#}
                {#                          </div>#}
                {#                          <div class="btnArea">#}
                {#                            <a href="#" class="btn btnDark">Next <i class="fi flaticon-arrows"></i></a>#}


                <!-- signupFormAside -->
                <form action="#" class="bgWhite signupFormAside">
                    <div class="container signupFormAsideHolder">
                        <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
                        <div class="col-xs-12 col-md-offset-2 col-md-6">
                            <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
                            <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control elemenBlock"
                                       placeholder="Your email">
                                <button type="button" class="buttonReset fi flaticon-navigation"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>
        <!-- pageFooterBlock -->

        {% include 'user/footer.html' %}

    </div>
</div>
<!-- include jQuery library -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/plugins.js"></script>
<!-- include bootstrap JavaScript -->
<script src="../../static/userResources/js/bootstrap-slider.min.js"></script>
<!-- include custom JavaScript -->
<script src="../../static/userResources/js/jquery.main.js"></script>
<script type="text/javascript" src="../../static/userResources/js/init.js"></script>
</body>
</html>